[2013-02-12 05:32] postmodern opened #1 "Move advisories into a separate repository for continuous updates"
Move the advisories out into a common Ruby Advisory Database. This would allow bundler-audit to be updated out-of-release-cycle. Other websites could use `Bundler::Audit::Database` and merely call `#update!` via a cronjob.

[2013-02-12 08:30] jamesbebbington opened #2 "Incompatible with ruby 1.8.7/REE?"
Hi,

I'm getting a `SyntaxError` under REE 1.8.7-2012.02:

[code]

Is this gem compatible with Ruby 1.8.7? I see no mention of ruby version requirements.

[2013-02-12 08:47] #2 closed, assigned to nobody

[2013-02-12 09:36] postmodern opened #3 "Replace data/bundler/audit/ with a sub-module to ruby-advisory-db"
Replace `data/bundler/audit` with a git sub-module to [ruby-advisory-db](https://github.com/rubysec/ruby-advisory-db).

[2013-02-12 10:10] postmodern opened #4 "Refactor into rubygems-audit"
Refactor into rubygems-audit, which would auto-detect Bundler, otherwise check the latest version of the gems installed.

[2013-02-12 10:13] #1 closed, assigned to nobody

[2013-02-12 10:14] postmodern opened #5 "Change Audit::Database to support multiple paths"
Use advisory files from multiple paths. Prefer the file with a newer timestamp.

[2013-02-12 17:51] grosser opened #9 "Release under MIT"
Lot's of people are scared of GPL, relasing under MIT would be great/simpler/no need to explain to legal department etc

[2013-02-12 23:09] stouset opened #12 "Version matching doesn't work properly"
Running bundle-audit, it flags vulnerabilities for versions below my current version.

[code]

[2013-02-13 05:17] #4 closed, assigned to postmodern

[2013-02-15 01:02] grosser opened #19 "please release"
a new version on rubygems would be great :)

[2013-02-15 10:18] thbar opened #20 "Should bundler-audit verify it is up-to-date?"
A thought came up while applying bundler-audit (and brakeman etc) on many projects for a client.

To avoid errors when doing bulk operations especially, it would be convenient that bundler-audit verify if it is up-to-date or not.

If the user relies on `:git` in the Gemfile, mention that there's a new commit. If there's a new version on rubygems, mention that as well etc.

Just a thought - maybe t

[2013-02-15 12:34] dzhlobo opened #21 "Travis don't run tests"
What is with travis? Why it doesn't run tests?

[2013-02-16 02:03] #3 closed, assigned to postmodern

[2013-02-18 03:58] #5 closed, assigned to postmodern

[2013-02-18 04:07] #19 closed, assigned to nobody

[2013-02-19 03:51] EricR opened #25 "Safer Loading of YAML"
Call me paranoid, but even though bundler-audit seems awesome I feel unsafe using this library anywhere near production code. If the ruby advisory DB is ever compromised, everything's YAML and [getting parsed unsafely with Psych](https://github.com/postmodern/bundler-audit/blob/master/lib/bundler/audit/advisory.rb#L42). This isn't bundler-audit's fault... Hopefully TenderLove and the other Psych c

[2013-02-19 04:08] #25 closed, assigned to nobody

[2013-02-20 21:21] #12 closed, assigned to postmodern

[2013-02-21 12:47] benbruscella opened #27 "Support the rails 3-0 stable branch?"
Any chance bundler-audit could add support for the Rails 3-0 stable branch?

More info:
http://weblog.rubyonrails.org/2013/2/11/SEC-ANN-Rails-3-2-12-3-1-11-and-2-3-17-have-been-released/

It's currently at

[code]

[2013-02-23 03:27] #27 closed, assigned to nobody

[2013-02-26 00:45] jeremyolliver opened #29 "Suggestion: Warn when running on an old version of rubygems"
On an older project, my ruby environment had rubygems version 1.6.2 installed which causes a false positive on non SemVer gem strings e.g. such as newrelic_rpm in cve 2013-0284 has a patched version of ">= 3.5.3.25", but the installed version of "3.5.5.38" doesn't satisfy the constraint. Updating rubygems (in my case to 1.8.19) and re-running fixes that, but I suggest printing a warning if the rub

[2013-03-01 23:08] atombender opened #30 "Unnecessary version warnings on 1.8.7p371"
Example of output from `bundle-audit`

[code]

So it tells me to upgrade to >= 1.7.7 when I already have 1.7.7 installed, as confirmed with:

[code]

Using this Ruby:

[code]

The problem only appears to affect 1.8.7. On 1.9.3p385, the nonsensical warnings disappear.

[2013-03-03 11:23] #29 closed, assigned to nobody

[2013-04-24 16:55] oreoshake opened #34 "Feature request: using rubygems-advisory gem to update your bundle-audit advisory DB"
Pulled directly from email discussions

And

[2013-05-15 17:24] etdsoft opened #35 "Feature request: integrate bundler-audit with the app's CI"
Is there an easy way to integrate bundle-audit with the app's specs?

It would be cool to be able to include a bundler-audit -provided Rspec task that does the deed for you. This saves you having to remember doing it every now and then.

Or maybe a default Capistrano task that hooks itself and runs whenever cap:deploy is invoked

[2013-05-21 06:33] thehappycoder opened #36 "Latest rails2 has security holes?"
I run bundle-audit on rails-2.3.18 project. Is bundler-audit telling the truth here?
Name: actionpack
Version: 2.3.18
CVE: 2012-1099
Criticality: Medium
URL: http://www.osvdb.org/show/osvdb/79727
Title: Ruby on Rails actionpack/lib/action_view/helpers/form_options_helper.rb Manually Generated Select Tag Options XSS
Solution: upgrade to ~> 3.0.12, ~> 3.1.4, >= 3.2.2

Name: actionpack
Version: 2.3.1

[2013-05-22 01:38] #36 closed, assigned to nobody

[2013-08-25 07:06] grosser opened #39 "Please release on a regular basis"
Can you release a new version once in a while, there are a lot of changes on master that never made it to rubygems (0.1.2 is the latest there)

@postmodern

[2013-11-01 02:19] #39 closed, assigned to nobody

[2013-11-01 02:21] #34 closed, assigned to nobody

[2013-11-01 02:22] #30 closed, assigned to nobody

[2013-11-04 13:16] MrJoy opened #48 "bundle-audit will ignore newer USER_PATH in favor of VENDORED_PATH."
The problem comes from using the most recent commit time of USER_PATH, but trying to use the ctime of the copy in VENDORED_PATH.

Let's say you package up a version of the vendored repo with its last commit
being from time T=1.

You release your gem at time T=2.

The upstream vulnerability repo is updated at T=3.

A user installs the gem at T=4.

A user installs a local bundle at T=5.

Using the c

[2013-12-06 06:02] postmodern opened #50 "Use YAML.parse to safely parse and load advisories"
Use `YAML.parse` to manually parse/load the advisory data to prevent potential exploitation of the YAML deserialization vulnerability.

[2013-12-22 21:59] mveytsman opened #58 "Missing actionpack vulns"
Hey man, it looks like the submodule of of the vuln db you have is missing the 5 new actionpack vulns

..
OSVDB-100524.yml
OSVDB-100525.yml
OSVDB-100526.yml
OSVDB-100527.yml
OSVDB-100528.yml

I ran bundler-audit on a 3.2.15 codebase and didn't get any rails issues.

[2013-12-24 02:23] postmodern opened #59 "Update specs to RSpec 3 syntax"
Update all specs to use [RSpec 3 syntax](http://myronmars.to/n/dev-blog/2012/06/rspecs-new-expectation-syntax). Consider using [transpec](https://github.com/yujinakayama/transpec) to automate the process.

[2013-12-30 18:31] modosc opened #60 "bundle-audit missed the recent will_paginate xss vuln"
we were using an outdated version of will_paginate:

[code]

and bundler-audit didn't find this issue:

[code]

even though it's definitely listed in the ruby-advisory-db:

https://github.com/rubysec/ruby-advisory-db/blob/master/gems/will_paginate/OSVDB-101138.yml

[2014-01-17 00:36] postmodern opened #61 "No longer vendor ruby-advisory-db, but instead auto-download it"
Since ruby-advisory-db is being updated so frequently, it doesn't make sense to use bundler-audit with a vendored version. Instead, bundler-audit could automatically clone/update the ruby-advisory-db ensuring it was always up-to-date. This would simplify the `Database.path` logic, at the cost of requiring a network connection.

[2014-01-17 21:12] #21 closed, assigned to nobody

[2014-01-20 06:16] jpmcgrath opened #62 "deleted."
Apologies, issue created in wrong repo!

[2014-01-20 06:17] #62 closed, assigned to nobody

[2014-02-09 10:06] yltsrc opened #65 "it crashes on Gemfile.lock with ftpd (0.2.1)"
bundler-audit version = 0.3.0

I can't reproduce it on my mac, but it continuously crashing on travis-ci.org

[code]

Gemfile.lock

[code]

Exception backtrace:

[code]

[2014-02-10 23:35] #65 closed, assigned to nobody

[2014-03-11 20:15] sikachu opened #66 "Introduce `--ignore-git-source` or maybe make it so that `--ignore` works with git source?"
We have several gems that points to `master` branch on GitHub, sadly. When we run `bundle-audit check`, it displays the error:

[code]

So, I tried to use `--ignore` flag, but no luck

[code]

So I'm proposing either of this change:
- Adds `--ignore-git-source` so that it stops complaining if I include something from Git
- Make `--ignore` detects that this gem is in a particular source, and doesn'

[2014-03-29 17:10] mccabe615 opened #67 "Don't say 'Unpatched versions found!' when it's only an insecure source"
When running bundler-audit with no vulnerable gems, it still outputs 'Unpatched versions found!' if an insecure source is found.

$: bundle-audit
Insecure Source URI found: http://rubygems.org/
Unpatched versions found!

[2014-04-16 01:22] #48 closed, assigned to nobody

[2014-04-21 00:37] postmodern opened #71 "0.4.0"
## Goals
- Remove vendored DB.
- Support auto-updates.
- Improve security of parsing YAML.

[2014-04-21 00:37] #71 closed, assigned to nobody

[2014-04-21 00:39] #58 closed, assigned to nobody

[2014-04-21 00:41] #60 closed, assigned to nobody

[2014-04-21 00:42] postmodern opened #72 "Whitelist insecure git sources if they are internal IPs"
Resolve the host of insecure git sources and check if they are non-routable IPs.

[2014-04-21 00:42] #66 closed, assigned to nobody

[2014-05-27 21:50] peter-mtso opened #73 "Issues with dynamic Gemfiles"
The `bundle-audit` binary is run with `ruby_executable_hooks`. By default, this wrapper uses the `noexec` functionality, documented at https://github.com/mpapis/rubygems-bundler. In turn, this executes the `Gemfile` in the current directory.

This is problematic if the `Gemfile` has early termination code, such as

[code]

When executing under `bundle-audit`, the error isn't shown, and the command

[2014-06-04 11:58] mjobin-mdsol opened #75 "bundle-audit reports lots of false positive..."
almost all (if not all) element reported by bundle-audit are false positive...

for example

[code]

recommendation is to upgrade to something greater than 3.2.12 and I am on 3.2.18
why is it reported...

bundle audit currently reports me 41 items... and I have yet to find one that is real...

thanks

[2014-06-30 09:54] timurvafin opened #78 "Update databse using `--quiet` flag during git clone"
Hey,

It's will be great to add optional `--quiet` flat during `git clone https://github.com/rubysec/ruby-advisory-db.git`.

We use `bundle-audit` during CI build and just don't want to pollute output log.

[2014-08-11 11:48] bulatsitdikov opened #81 "Change license type"
Can you change license type? This license assumes disclosure of source code as I understood, and I think this license is not absolutely suitable for those who will use gem in commercial projects.

[2014-08-11 17:56] #81 closed, assigned to nobody

[2014-10-22 15:04] jordimassaguerpla opened #83 "why are you ignoring Gemfile.lock"
Hi! Having Gemfile.lock in git is very useful for a team so that everyone uses the same gem versions.... why do you have it in the gitignore file? I am curious if there is a good reason for that...

[2014-10-22 23:53] #83 closed, assigned to nobody

[2015-01-07 20:25] aprescott commented on #67
This has been fixed by #84, which was merged. I believe this issue can be closed.

[2015-01-07 20:35] mccabe615 commented on #67
:+1:

[2015-01-07 20:35] #67 closed

[2015-01-27 04:13] bigxiang commented on #65
:+1: to release.

[2015-03-10 19:40] igorescobar opened #88 "Ignore internal gem source"
In our company we got an internal gem server and we need do ignore the warning:
```Insecure Source URI found: http://gems.test.com.br/```

Help?

[2015-03-26 21:20] mikeatlas commented on #88
Seems like you could fork and make a PR, not too difficult

https://github.com/rubysec/bundler-audit/blob/d2cad988ade5158cdc75b4153867df36f86e269a/lib/bundler/audit/scanner.rb#L68-L82

[2015-03-26 21:52] postmodern commented on #88
See #72.

[2015-03-26 22:06] igorescobar commented on #72
:+1:

[2015-04-22 02:17] sds commented on #72
I've added a pull request for this feature.

In addition to automatically ignoring internal IPs, how would you feel about adding an option allowing you to ignore certain hosts? I'd be happy to submit a pull request if that aligns with the goals of this project.

[2015-06-01 00:32] #72 closed

[2015-06-16 22:41] obromios commented on #67
I just installed bundler-audit, then did ```gem update bundler-audit```, then did ```bundle-audit update```, then ran it, and it successfully found the latest rails security problems, so it is a great gem. However, when I fixed the problems, and ran bundle-audit again, I had the following output:
[code]

[2015-06-19 02:04] obromios opened #93 "Still seeing 'Unpatched versions found' message"
I just installed bundler-audit, then did gem update bundler-audit, then did bundle-audit update, then ran it, and it successfully found the latest rails security problems, so it is a great gem. However, when I fixed the problems, and ran bundle-audit again, I had the following output:

Insecure Source URI found: http://rubygems.org/
Unpatched versions found!

However, according to issue #67 this s

[2015-06-23 03:00] mccabe615 commented on #93
It looks like you have a Rubygems source that's using HTTP instead of HTTPS. Check the top of your Gemfile and make sure all sources are using https URLs and then rerun bundler audit. If that doesn't work can you share your Gemfile.lock?

[2015-06-23 03:43] postmodern commented on #93
I'm also working on releasing 0.4.0, which changes the text to "Vulnerabilities found!".

[2015-06-23 05:32] obromios commented on #93
Thank you for your help, I changed the source to
[code]
and it eliminated the warning message.

As someone not from security background, I think 'Vulnerabilities found' is much clearer.  You might also consider changing your all clear message from 'No unpatched versions found' to something like 'No vulnerabilities found'.  It is unclear to me what 'unpatched versions' are and in any case 'no unpat

[2015-06-30 21:40] postmodern commented on #93
This should be fixed in 0.4.0.

[2015-06-30 21:40] #93 closed

[2015-06-30 21:40] postmodern commented on #72
Released in 0.4.0.

[2015-06-30 21:40] postmodern commented on #88
Released in 0.4.0.

[2015-06-30 21:40] #88 closed

[2015-06-30 21:49] postmodern commented on #50
Rebased against 0.4.0 and aiming to release in 0.4.1 or 0.5.0.

[2015-06-30 21:58] postmodern commented on #59
Completed by @retornam.

[2015-06-30 21:58] #59 closed

[2015-07-02 13:28] igorescobar commented on #88
Thank you guys! Awesome! :+1:

[2015-07-06 07:46] stamm opened #95 "Flag ignore don't work"
Run bundle audit with ignore particular version of CVE, but it find this vulnerability
[code]

[2015-07-23 19:03] latortuga opened #99 "check command does not accept flags"
README:
[code]

Real life:
[code]

[2015-07-24 21:10] postmodern commented on #99
We haven't released the next version.

[2015-07-24 21:10] #99 closed

[2015-07-24 21:39] latortuga commented on #95
This looks like it was probably fixed by 4e32fca89d75f0e249671431ff38aadc02bfb28b.

[2015-07-26 00:07] heikobornholdt opened #101 "--update argument not allowed"
The `bundle-audit check --update` call mentioned in README does not work for me:
[code]

[2015-07-26 00:25] postmodern commented on #101
I just merged that into master, instead of the 0.5.0 branch; ideally feature PRs should be made from the next version branch. The github README will not always represent the current stable version. For documentation of the latest gem, please see the [Documentation](http://www.rubydoc.info/gems/bundler-audit) link.

[2015-07-26 00:25] #101 closed

[2015-07-27 13:43] stamm commented on #95
Yeap, working on master

[2015-07-27 13:43] #95 closed

[2015-08-03 20:25] mingleiwang opened #102 "Make database URL, VENDORED_PATH, VENDORED_TIMESTAMP, USER_PATH configurable"
Hey,

we are consuming bundler-audit in our CI builds and we don't want to hit https://github.com/rubysec/ruby-advisory-db.git continuously, so we want to make database URL configurable. Also make other global parameters like  VENDORED_PATH, VENDORED_TIMESTAMP, USER_PATH which will make this gem to have broader usage.

I can make a pull request if you want.

[2015-08-07 18:20] bigtunacan opened #103 "ERROR: "bundle-audit check" was called with arguments ["--update"]"
When running `bundle-audit check --update` as described in the README.md it throws an error.

    ERROR: "bundle-audit check" was called with arguments ["--update"]
    Usage: "bundle-audit check"

I worked around this by using `bundle-audit update && bundle-audit check`, but thought you might want to be aware so the README can be updated if this is no longer supported or fixed if it's a bug.

[2015-08-08 01:01] JustinAiken commented on #35
You guys may be interested in https://github.com/rubysec/bundler-audit/pull/104

I'm using it in Jenkins like:
[code]

And then using the [HTML Publisher Plugin](https://wiki.jenkins-ci.org/display/JENKINS/HTML+Publisher+Plugin) to save the generated html file along with my spec results/coverage/brakeman/rubycritic/etc reports.

[2015-08-11 21:10] mingleiwang commented on #102
any updates on this? Will you accept this pull request? Do you have any concerns?

[2015-08-12 17:57] noahgibbs commented on #61
Good. When I just installed the gem and ran it, it told me "no vulnerabilities" (very wrong!)

I figured out that I needed to update, but... That could have been dangerous :-)

Thanks!

[2015-08-12 17:59] postmodern commented on #102
This seems very invasive. Perhaps we could just add a `--no-update` option to the check subcommand?

[2015-08-14 13:16] kofronpi opened #105 "Is-it-vulnerable reports vulnerabilities whereas bundler-audit does not"
Hi,

I tried out this service (https://isitvulnerable.com/) after receiving the last Ruby weekly. It reports vulnerabilities in my `Gemfile.lock` not caught by the latest version of bundler-audit:

[code]

What should I think about it ?

Thanks

[2015-08-15 00:54] mingleiwang commented on #102
But we still want to keep the database up-to-date. If we can configure database URL, we can maintain our own database(our own github instance), then we don't need to hit public github.com frequently.

[2015-08-15 01:02] mingleiwang commented on #103
which version is your bundler-audit? The bundle-audit check with --update is not available yet in rubygem.

[2015-08-15 04:13] phillmv commented on #105
Hi,

Have you tried updating it first? Try running

[code]

I am one of the authors of isitvulnerable.com, and there should be no difference. If there continues to be, then there may be a bug somewhere (likely in our code) and I'd love to hear more about your Gemfile.lock.

[2015-08-17 13:20] krigar opened #106 "InsecureSource results in exit code 1"
We're about to integrate bundler-audit into our CircleCI build process and it's looking really promising except for one fact: ignoring vulnerabilities leads to none being listed by bundler-audit, but it still exits with `exit code 1`, making CircleCI think it failed.

The reason why we ignore some vulnerabilities is because we're running on a forked version of https://github.com/spree/spree and we

[2015-08-17 13:48] krigar commented on #106
Figured this one out, it was due to some git repositories in our lockfile that got marked as `InsecureSource`.

I understand the need to generate a warning when using external git repositories, but should the warning result in `vulnerable` being set to `true`?

[2015-08-26 18:32] obromios opened #108 "country_select gem unmoved by bundler-audit warning"
bundler-audit has started giving the following warning:
```Insecure Source URI found: git://github.com/stefanpenner/country_select.git```
I reported on this on their [github site](https://github.com/stefanpenner/country_select/issues/106#issuecomment-135025936) but the response was that they do not support bundler-audit.  Can you please give me some more information about what is causing this warn

[2015-08-26 19:12] Mange commented on #108
The git protocol is unencrypted and unauthenticated so it's vulnerable to a
MitM attack. Charge to https and all is well.

ons 26 aug 2015 20:32 Chris <notifications@github.com> skrev:

[2015-08-27 07:12] obromios commented on #108
That makes sense and should be easy to change.

[2015-08-27 07:12] #108 closed

[2015-08-27 12:37] obromios commented on #108
The bundle-audit team now understand what was going on, and it seems an easy fix.  The problem was the recommendation of using the
```gem 'country_select', github: 'stefanpenner/country_select'```
directive rather than
```gem 'country_select', git: 'https://github.com/stefanpenner/country_select'```.
However, scudo at bundle-audit and I believe that many people would still be using the``` github:`

[2015-08-27 17:43] chrisnicola commented on #103
And how long will that be?

[2015-08-28 21:25] postmodern commented on #106
If the repositories are insecure, an attacker could MITM them and inject arbitrary code. If your threat model involves MITMing, then it makes sense to mark them as vulnerable; plus it's not hard to switch to `https://` or `git@`.

[2015-08-28 22:29] reedloden commented on #106
Why would `git@` be more secure than `http://`? Aren't they effectively both unauthenticated and unencrypted? Are you referring to git over ssh, perhaps?

[2015-08-29 04:26] Mange commented on #106
Yes. `git@` is the syntax for GitHub as the SSH user is named `git` there.
`git://` and `http://` are insecure.

lör 29 aug 2015 00:29 Reed Loden <notifications@github.com> skrev:

[2015-08-29 05:40] reedloden commented on #106
Oh, duh. Reading comprehension fail. My bad.

On Friday, August 28, 2015, Magnus Bergmark <notifications@github.com>
wrote:

[2015-09-02 17:33] jasonnoble opened #111 "Please release a new version to fix our issue"
#98 fixed an issue we were having (We also utilize gem-in-a-box)...

Could we get a 0.4.1 version released?

Thanks.

[2015-09-14 16:17] mingleiwang commented on #102
any updates on this?

[2015-09-25 19:45] 007 commented on #103
Same question here - is there an ETA for an update to rubygem @postmodern? Could also close #111.

[2015-10-15 09:41] eliotsykes opened #114 "Exits with `0` for `bundle-audit update` network failure, expected non-zero exit code"
When running `bundle-audit update` is it expected to return a non-zero exit code when the update server is unavailable? Currently I'm seeing a zero exit code (bundler-audit 0.4.0).

I tried testing this by disabling my network connection and running:

[code]
A reason for preferring a non-zero exit code instead, is for environments that are running unattended jobs like:

[code]
These environments c

[2015-10-21 19:36] JuanitoFatas commented on #106
@krigar Hi! Did you solve the rake task? You could use the rake task in your project from #115 or try [this commit](https://github.com/thoughtbot/hound/commit/59663c928fe8fef4971688ea8c1cf52a68c8f6a4).

Then I think this issue can be closed? InsecureSource results in exit code 1 is correct as @postmodern mentioned in [this comment](https://github.com/rubysec/bundler-audit/issues/106#issuecomment-1

[2015-10-21 19:38] JuanitoFatas commented on #105
@kofronpi Have you tried `bundle-audit update`? If no problem can close this issue, thanks!

[2015-10-21 19:41] JuanitoFatas commented on #78
@postmodern Can close this one and move to #100.

[2015-10-21 19:42] JuanitoFatas commented on #75
@mjobin-mdsol Could you provide `Gemfile.lock` please? Thanks!

[2015-10-21 19:44] JuanitoFatas commented on #73
@peter-mtso Is this still an issue for you? If not, could you close this issue please? Thank you.

[2015-10-21 22:33] grosser opened #116 "add memory leaks warnings ?"
@postmodern would you merge a PR that adds these a low priority advisories ?
https://github.com/ASoftCo/leaky-gems

[2015-10-21 22:57] postmodern commented on #116
Someone needs to submit advisories for each of these gems. Then we could add them to [ruby-advisory-db](https://github.com/rubysec/ruby-advisory-db).

[2015-10-21 22:57] #116 closed

[2015-10-21 23:21] grosser commented on #116
not sure if I'm doing this right ...

 - zipruby rubysec/ruby-advisory-db#207 (actual advisory)

rest is just PRs ...
 - sidekiq rubysec/ruby-advisory-db#208
 - therubyracer rubysec/ruby-advisory-db#209
 - grape rubysec/ruby-advisory-db#210
 - celluloid rubysec/ruby-advisory-db#211

[2015-10-21 23:53] grosser commented on #116
the PR's don't belong into ruby-advisory db ... do you think they would make sense here ... would be great to have a one-stop-shop to know your Gemfile is good ... maybe as a separate source ?

[2015-10-22 00:04] douglascamata commented on #116
Yes! It would be great to have just one thing to tell me if there is anything wrong with my gems, from memory leaks to security stuff. Maybe we can create a db of leaky gems and another gem to check both the leaky gems db and ruby-advisor-db (just to try to look a close as possible do bundler-audit + ruby-advisor-db). Oooorrr, we can include the leaky gems db inside the gems repository (something

[2015-10-22 00:08] grosser commented on #116
create new database then ... in order of preference:
 - add new database to bundle-audit
 - make new database an optional part of bundle-audit
 - make new gem that checks new database by running bundle-audit with some funky hacks/arguments

[2015-10-22 00:11] douglascamata commented on #116
@grosser I like your suggestion. Let's check if bundler-audit would welcome a memory leak database.

[2015-10-22 00:12] douglascamata commented on #116
@grosser deleted my old comment since I thought we were talking in that `leaky-gems` issue, sorry.

[2015-10-22 00:14] postmodern commented on #116
@grosser memory leaks are a potential DoS, and can be included in ruby-advisory-db, imho. Someone just has to request CVE/OSVDB IDs for them.

[2015-10-22 03:36] grosser commented on #116
I don't think any of them are attackable and I don't want to report something that I don't think is a vulnerability ... what do you think about the other options ?

[2015-10-22 17:51] grosser commented on #116
therubyracer for example is most often used in asset compilation, so getting a CVE would be useless ... so some auditing mechanism would be great :)

what do you think about adding a new database or making the database-url configureable ?

[2015-11-05 14:30] robbkidd commented on #111
Yes, a new release please! I'd love to use `check --update` in CI (from #103).

[2015-11-05 19:06] eliotsykes opened #120 "Contributing Developer HOWTO request for README"
Just putting together a PR, unfortunately having a little trouble getting all specs to pass with unmodified `master`. I guess I'm missing some setup steps. Here's what I've got so far:

[code]

[2015-11-14 00:06] #114 closed

[2015-11-18 22:01] bethesque opened #125 "Can full Advisory ID be displayed in the output?"
Was having a play around and wondering why the following command was not ignoring the given vulnerability:

[code]

After doing some debugging, I found that the advisory property being used to compare to the ignore list was the `id` property ("OSVDB-126747"), but the code prints the `osvdb` property ("126747") which did not include the prefix.

[code]

[code]

Is there a reason for not displaying

[2015-11-18 22:41] reedloden commented on #125
Submitted #126 to fix this.

[2015-11-19 02:23] #35 closed

[2015-12-01 16:02] vraravam opened #131 "Incorporating the rake task is incorrect documentation"
I tried to follow the documentation referenced in https://github.com/rubysec/bundler-audit/pull/115 - but there is a better solution at least for rails applications:
1) Create the file `lib/tasks/bundle_audit.rake`
2) Put the following contents:
[code]

[2015-12-01 16:09] JuanitoFatas commented on #131
I think this feature is not released yet.

[2015-12-01 16:11] vraravam commented on #131
Yes - but the documentation is still incorrect (even in the unreleased README)

[2015-12-01 16:13] JuanitoFatas commented on #131
Thanks! I will open a Pull Request to fix it!

[2015-12-01 16:14] vraravam commented on #131
im abt to do it already!

On Tue, Dec 1, 2015 at 9:43 PM, Juanito Fatas <notifications@github.com>
wrote:

[2016-01-22 08:56] Bjoernsen commented on #111
:+1:

[2016-01-22 19:42] jaredmoody commented on #111
:+1:

[2016-01-25 13:03] jekuno opened #136 "Non zero exit if DB update fails"
Currently `bundle-audit update` always returns exit code zero.

Expected: If DB update fails (e.g. due to missing network connection) a non zero exit code should be returned. This is important for failing the build on a CI system.

[2016-01-26 03:09] connorshea commented on #103
I just ran into the same issue, any updates on a release?

[2016-01-26 07:49] rvanlieshout opened #137 "Release #95"
Issue #95 is fixed in master, but it hasn't been released yet. Can we expect a new release with it?

[2016-01-26 08:51] Bjoernsen commented on #137
:+1:

[2016-02-08 12:36] Davidslv commented on #137
A release would be good as there's a fix here that was release a month after the version was bumped https://github.com/rubysec/bundler-audit/commit/4e32fca89d75f0e249671431ff38aadc02bfb28b

[2016-02-13 19:46] ruslankhaertdinov commented on #111
:+1:

[2016-02-18 04:51] tbys commented on #136
+1

[2016-02-18 04:55] nishidayuya commented on #136
:+1:

[2016-02-18 05:15] tbys commented on #136
Apparently this was fixed in a6c4b7898cf03f1ba5246d4ac904e634857fca4b, so I guess we just have to wait for the next gem release.

[2016-02-29 03:48] #78 closed

[2016-02-29 04:04] postmodern commented on #137
Finally got around to releasing 0.5.0.

[2016-02-29 04:04] #137 closed

[2016-02-29 04:04] postmodern commented on #136
Finally released 0.5.0.

[2016-02-29 04:04] #136 closed

[2016-02-29 04:05] postmodern commented on #111
Finally released 0.5.0.

[2016-02-29 04:05] #111 closed

[2016-02-29 04:05] postmodern commented on #103
Finally released 0.5.0.

[2016-02-29 04:05] #103 closed

[2016-02-29 04:06] postmodern commented on #106
Can this be closed?

[2016-02-29 09:11] jekuno commented on #103
Thanks! :+1:

[2016-02-29 09:49] krigar commented on #106
Hey, yeah, I'll close it now.

On 29 February 2016 at 04:06, Postmodern <notifications@github.com> wrote:

[2016-03-02 19:56] jasnow opened #140 "Add support for Rails 4.2.6.*"
Add support for Rails 4.2.6.*. Example:
[code]

[2016-03-08 20:47] postmodern commented on #140
You'll want to submit an amendment to the [ruby-advisory-db](https://github.com/rubysec/ruby-advisory-db/issues) for `gems/actionpack/CVE-2016-2098.yml`.

[2016-03-08 20:47] #140 closed

[2016-03-08 20:48] #106 closed

[2016-03-08 20:50] postmodern commented on #102
This seems like a specific use-case (aka using a different ruby-advisory-db repo). Plus I really don't have much time for OSS work right now. You should go ahead and fork bundler-audit for your own purposes.

[2016-03-08 20:50] #102 closed

[2016-03-08 20:59] jasnow commented on #140
writing issue

[2016-03-08 21:07] #131 closed

[2016-03-23 17:14] biancajiang opened #141 "Can CPE be included in output?"
Current output includes Name, Version, CVE ID etc. which are great.  However it is very hard to traverse back from the component name and version to the actual product and vendor that they come from.  Eg. If you have a gem built with ruby on rails 4.1.1, there are quite some vulnerabilities reported on rail components like the following.  But it's hard to know which ones are from rails 4.1.1 or ot

[2016-03-23 20:33] ZeroChaos- commented on #61
for the purposes of testing at install time it may be nice to keep a db in the install and allow it to be updated.  the real kicker would be to warn people when a sync/update hasn't been performed for X days.

[2016-03-24 02:58] JuanitoFatas commented on #141
How do we get a CPE? And sorry what does CPE stand for?

[2016-03-24 05:28] reedloden commented on #141
https://nvd.nist.gov/cpe.cfm, but isn't this covered by our `framework` option?

[2016-03-29 07:07] batizhevsky commented on #125
Same problem.
[code]

but to add to ignore list I must pass full name `OSVDB-131677`

[2016-04-08 13:10] jrochkind opened #144 "Can't handle four-element version in Rails 4.1.14.1 vulnerability?"
My Gemfile.lock has Rails (and associated sub-gems, ActiveRecord, ActiveModel, etc), of 4.1.15.

That triggers:

[code]

I am pretty sure this is wrong.  If the vulnerability was fixed in 4.1.14.1, I'm pretty sure 4.1.15 is fine. I don't need to downgrade to 4.1.4.1 to not be vulnerable, I think?   (And I'm not prepared to go to 4.2)

I don't know if this is a problem with the metadata, or if your

[2016-05-06 14:05] suung opened #146 "Include other system critical advisory data"
Would it be possible, to include advisory data based on used systems?

For example CentOS and the delivered packages?

[2016-05-07 05:21] postmodern commented on #144
This looks like it was fixed in rubysec/ruby-advisory-db@c36af8e0c47747d15d9347bffb9fe42a58237273.

[2016-05-07 05:21] #144 closed

[2016-05-18 13:25] Brit200313 opened #147 "RedCloth Evaluation - 4.3.1"
To my team's delight, RedCloth is starting to be maintained again.

https://github.com/jgarber/redcloth

Since CodeClimate uses bundler-audit to check for vulnerabilities, we're hoping RedCloth 4.3.1 (https://github.com/jgarber/redcloth/commit/cddd03b87fe75b6681405066796bf4ef88b37149) will fix the RedCloth Gem for Ruby Textile Link Parsing XSS error we keep seeing. I'd love to know if bundler-audi

[2016-05-18 22:19] postmodern commented on #147
The [ruby-advisory-db file](https://github.com/rubysec/ruby-advisory-db/blob/master/gems/RedCloth/CVE-2012-6684.yml) lists `>= 4.3.0` as patched and RedCloth 4.3.1 was just pushed yesterday. So you should just be able to run `bundle update RedCloth`.

[2016-05-18 22:19] #147 closed

[2016-05-23 14:52] mensfeld opened #148 "Allow to check other projects than a current one"
Would be awesome if there would be an option to provide root of the Gemfile.lock file

[2016-06-16 00:39] darrenleeweber opened #150 "Update README.md"
[code]

[2016-06-17 20:18] postmodern commented on #150
#149 added `bin/bundle-audit` which bundler will use if you specify `bundle audit`.

[2016-07-05 00:37] pjscopeland commented on #150
Bump. MASSIVE bump. Kept trying `$ bundle audit` and kept getting `Could not find command "audit".`

[2016-07-05 05:03] postmodern commented on #150
Temporarily switched it back. Please do not that the master README doesn't always represent the latest stable version. For stable documentation, please see [rubydoc.info](http://rubydoc.info/gems/bundler-audit/frames).

[2016-07-05 05:03] #150 closed

[2016-07-11 15:27] aripollak commented on #75
I'm able to reproduce this with a simple Gemfile that just contains:
[code]

Which results in lots of these false positives:
[code]

[2016-07-11 17:42] tibbon opened #155 "bundle-audit check --update errors"
Running `bundle-audit check --update` as the README suggests doesn't seem to work.

[code]

[2016-07-14 05:15] postmodern commented on #155
According to the [ChangeLog](http://www.rubydoc.info/gems/bundler-audit/file/ChangeLog.md) `bundle-audit check --update` was added in 0.5.0.

[2016-07-14 05:15] #155 closed

[2016-07-14 05:20] postmodern commented on #75
@aripollak I cannot reproduce your example with bundler-audit 0.5.0 and the most recent ruby-advisory-db (ruby-advisory-db@7197f4b6f2d5527c903ddfc834d551eff11ef935).

[2016-07-14 18:40] aripollak commented on #75
Oh! With the latest advisory-db those don't happen.

[2016-07-15 18:48] mensfeld opened #156 "Bundler audit is not thread safe"
Because of the Dir.chdir in lib/bundler/audit/database.rb, the gem itself is not threadsafe

[2016-07-29 02:11] lucascaton opened #157 "method_missing': undefined method `this' for #<Gem::Specification...> (NoMethodError)"
Hi there, I've got this error when running `$ bundle-audit`:

[code]

* Ruby `2.3.1`
* Rails `4.2.7`
* bundler-audit `0.5.0`

[2016-07-30 00:47] postmodern commented on #157
Can I see the full backtrace?

[2016-07-30 01:31] lucascaton commented on #157
@postmodern sure!

[code]

[2016-07-30 02:22] postmodern commented on #157
This may be a rubygems bug. `find_active_stub_by_path` appears to find a `Gem::StubSpecification` object which supports a `#this` method, but a `Gem::Specification` object somehow shows up instead.

[2016-07-30 02:27] postmodern commented on #157
According to rubygem's [ChangeLog](https://github.com/rubygems/rubygems/blob/0b6befedc9ef63b20d4264de081fca5a6d8ac018/History.txt#L74-L75) they fixed a bug in 2.6.3 where `Gem::Specification.stubs` contained `Gem::Specification` objects. https://github.com/rubygems/rubygems/pull/1558 also references the `find_active_stub_by_path` method. What version of rubygems are you running?

[2016-07-30 02:54] lucascaton commented on #157
[code]

[2016-07-30 02:56] lucascaton commented on #157
@postmodern I've updated RubyGems to `2.6.6` and it's working now.

Thank you!

[2016-07-30 02:59] #157 closed

[2016-08-01 19:35] tmaier opened #158 "Database.update! shall fail when git not installed"
I am using the tool (thanks for providing it) within an alpine linux docker container.

I wondered why the update feature did not work.
It failed without error.

The reason is, that `Database.update!` fails silently when git is not installed (https://github.com/rubysec/bundler-audit/blob/master/lib/bundler/audit/database.rb#L94-L104)
- `.update!` should check if `git` is available
- `.update!` sho

[2016-08-04 14:13] kholbekj opened #159 "database.rb:41 `join`:no implicit veronversion"
On my CI server I get this (not the awesomest ruby version, but supported I suppose?)
[code]

[2016-08-05 19:48] postmodern commented on #159
`$HOME` isn't set. Try running it within bash or explicitly loading in `/etc/environment`.

[2016-08-05 19:48] #159 closed

[2016-08-09 12:57] mensfeld commented on #148
nvmd - bypassed

[2016-08-09 12:57] #148 closed

[2016-08-15 22:05] darrennix opened #160 "uninitialized constant Thor::Shell::Color (NameError)"
Steps to reproduce:

[code]

gemfile.lock

[code]

Have tried
1. just running `bundle-audit`
2. `bundle update thor`

[2016-08-17 17:52] mensfeld commented on #156
Any update on that?

[2016-08-18 10:02] obfuscoder opened #161 "Support for better parseable output format"
We use bundler audit regularly and it helps us a lot!

However, we would prefer a better parseable output format (activated via parameter) such as XML or JSON.

Most helpful would be the XML format as created by the OWASP Dependency Checker

https://www.owasp.org/index.php/OWASP_Dependency_Check

which then could be integrated in our continuous integration build infrastructure with the help of the

[2016-08-30 16:13] antoncohen opened #163 "GPLv3 incompatible with OSVDB license"
The Open Sourced Vulnerability Database (OSVDB) [License](http://webcache.googleusercontent.com/search?q=cache:TmkAeJZPyuIJ:osvdb.org/osvdb_license+&cd=1&hl=en&ct=clnk&gl=us) has commercial restrictions and an advertising clause. That means the OSVDB license restricts "freedoms" the GPL provides.

These licenses are not compatible.

Further, the argument made in #9 that bundler-audit is not linked

[2016-10-03 15:26] jaredbeck opened #164 "A queiter `check --update`"
`bundle-audit check --update` is noisy.

[code]

I'd like to implement a `--quiet` flag that produces less, or no, output when successful. Any interest?

[2016-10-05 15:39] #105 closed

[2016-10-11 15:36] jaredbeck commented on #164
@postmodern one week ping. Is this something you'd be interested in?

[2016-11-02 07:45] postmodern commented on #164
@jaredbeck sounds reasonable. `check` already supports a verbose option.

[2016-11-02 21:03] jaredbeck commented on #164
Thanks, I'll give it a try, maybe this weekend.

[2016-11-09 08:24] doloopwhile opened #169 "Bundler audit should successfully exits when all vulnerabilities are ignored"
I would like to continue to use a vulnerable gem because my application is not affected by the vulnerability.

So, I executed `bundle-audit check` with `--ignore` option. However `check` still fails.
[code]

It is natural for me that `check` successfully exits when all vulnerabilities are ignored.

[2017-02-22 15:24] Darhazer commented on #75
Now it gives false positive with rails 4.2.8

[code]

[2017-03-10 03:24] timhaines opened #172 "Rails 4.2.8 reported as vulnerable, recommends updating to rails 4.2.7.1"
I'd expect 4.2.8 to be given a thumbs up.  The issue was fixed in 4.2.7.1 .

https://groups.google.com/forum/#!topic/rubyonrails-security/rgO20zYW33s

[code]

[2017-03-10 20:11] phillmv commented on #172
There were some issues with [the data for this vulnerability](https://github.com/rubysec/ruby-advisory-db/commits/master/gems/actionview/CVE-2016-6316.yml) in particular; it's possible your local copy is out of date.

Can you please try running `bundler-audit update` and report back?

[2017-03-10 20:15] timhaines commented on #172
Thanks @phillmv, I didn't know about the update command.  I can confirm that after updating, no vulnerabilities are reported.  Closing.

[2017-03-10 20:15] #172 closed

[2017-03-10 22:17] epinault commented on #75
Same here.

[code]

[2017-03-10 22:20] epinault commented on #75
here is what I noticed..

I installed it (and was never on my machine before). I have bundler-audit (0.5.0) installed

First run I got the false positive..
[code]

I then ran

[code]

And everything was fine. No more false positive. Some maybe the first time the db pulled is too old ?

[2017-03-13 11:06] stevegrossi commented on #75
This tripped me up as well. I should have read the README more closely, which makes clear that most of the time you probably want to run

    $ bundle-audit check --update

rather than just

    $ bundle-audit

Thanks @epinault for reminding me! 🙇

[2017-03-13 17:44] kpshek commented on #102
@postmodern - It's not that we want to use a different set of data but rather a local mirror of the ruby-advisory-db repository.

Is it still the case that you don't have time for OSS work? If so, would you entertain bringing on other committers to this project?

[2017-03-26 13:18] unmanbearpig commented on #169
It works correctly for me in 0.5.0, so I guess it either have been fixed or the issue occurs only in some cases.

[2017-03-31 10:57] nijikon commented on #156
Ping?

[2017-05-11 14:16] tiagoovieira opened #174 "bundle-audit fails because of insecure URIs from Github"
I updated the bundle-audit and now it's not working, this is the total output

[code]

[2017-05-13 22:05] rdeavila opened #175 "actionpack 5.1.1 vulnerable. Upgrade to lower version 5.0.0.beta1.1"
Some `action*` projects are reporting as insecure on version `5.1.1`. But the solution is upgrade to a lower version 5.0.0.beta1.1.

This is correct?

[code]

[2017-05-16 00:19] wtfiwtz commented on #175
Check this thread: https://github.com/rubysec/bundler-audit/issues/75

`bundle-audit check --update` first

[2017-05-16 00:22] wtfiwtz commented on #174
There is a PR here to ignore whitelisted sources: https://github.com/rubysec/bundler-audit/pull/124

[2017-05-16 00:32] wtfiwtz commented on #174
Here's a quick fix for now: https://github.com/ActivePipe/bundler-audit/tree/ignore-warnings

[2017-05-16 12:02] rdeavila commented on #175
Hi @wtfiwtz, thanks for your info.

In fact, my GitLab CI job do the `--update` by default.

[code]

But I found the problem: the `ruby:2.4.0-alpine` image don't have the `git` command installed; so, the command just say `Skipping update` in this case. I don't see this. Maybe the command can say why he's skipping the update.

Thank you.

[2017-05-18 18:57] cmer commented on #175
FYI @rdeavila, I had the same problem. This Gitlab CI image works for me:

`image: ruby:2.4`

[2017-06-03 05:19] patbl commented on #161
Related PR: https://github.com/rubysec/bundler-audit/pull/176

[2017-07-11 14:31] jborrey commented on #161
🙏

[2017-07-20 01:16] reedloden commented on #163
Why is OSVDB coming up here? `bundler-audit` doesn't use OSVDB anything at all. You might make the argument that https://github.com/rubysec/ruby-advisory-db is using OSVDB IP, but not this particular tool.

[2017-07-25 09:20] gregkare commented on #174
You shouldn't ignore these, the git protocol is clear text. You should switch to https for public repos

[2017-07-29 00:00] wtfiwtz commented on #174
I think the issue was they were private repos, and HTTPS would not work for our current SSH key setup. If `bundler-audit` were a failing CI step then no build would ever succeed. Probably something I should look at further though 👍

[2017-08-30 20:29] jsduke opened #178 "allow passing Gemfile.lock paths to bundle audit"
either as a single file or as multiple files in the same command.

[2017-09-04 15:20] TamerShlash opened #179 "Check RubyGems Vulnerabilities"
Greetings,

Mainly inspired by "[Multiple vulnerabilities in RubyGems](https://www.ruby-lang.org/en/news/2017/08/29/multiple-vulnerabilities-in-rubygems/)" blog post on official Ruby website, I was thinking whether bundler-audit should check for vulnerabilities in RubyGems itself or not.

It would be great if it did in my opinion.

[2017-09-15 16:25] modosc commented on #179
i think it would if the vulns were merged into the db but that pr is still open:

https://github.com/rubysec/ruby-advisory-db/pull/298

[2017-09-20 12:37] errm commented on #179
There is also this project https://github.com/civisanalytics/ruby_audit that can check rubygems and the current ruby against the ruby-advisory-db

[2017-09-20 17:25] modosc commented on #179
thanks @errm - it's dead though, no updates in a while.

[2017-09-20 17:25] modosc commented on #179
thanks @errm - it's dead though, no updates in a while.

[2017-09-21 12:29] errm commented on #179
It does work though... and since is using the ruby-advisory-db is as up to date as that is... there don't seem to be any open issues so I guess its just inactive because it just works :)
Perhaps @jeffreyc could comment on it's current state?

[2017-09-21 13:45] jeffreyc commented on #179
@errm is correct: it continues to work and no one's filed any issues, so there's been no need for any changes (though I should update it to use bundler-audit 0.6.0). It actually started as https://github.com/rubysec/bundler-audit/pull/118, which needs some love, but could be updated to add this behavior to bundler-audit, if the rubysec team wanted to go in that direction.

[2017-10-04 08:41] p8 opened #180 "Affected version detection missing positives"
According to the advisory-db rest_client 1.7.3 is vulnerable:
https://github.com/rubysec/ruby-advisory-db/blob/master/gems/rest-client/CVE-2015-1820.yml
[code]

But bundle-audit reports no vulnerabilities found.

Example repo to reproduce the bug:
https://github.com/p8/bundle_audit_test

The rest_client gem has recently been pulled.

[2017-10-04 08:48] p8 commented on #180
Nevermind. It was an issue with rest_client vs rest-client

[2017-10-04 08:48] #180 closed

[2017-10-10 15:53] philCryoport commented on #150
@postmodern dude please update README.md.  That's what users find first.

[2017-10-10 18:13] postmodern commented on #150
@philCryoport chill out. The README currently reflects version 0.6.0, which was released on 2017-07-18. Still, a git repo is not a stable source of documentation.

[2017-10-12 01:31] postmodern opened #181 "Refactor Bundler::Audit::Scanner#initialize"
Looking at `#initialize` now, it seems that it should accept the scanner options (`:ignore`) and store those as instance variables. The `#scan` method would then accept the path to the `Gemfile.lock`. This would allow the Scanner object to be configured once and ran across multiple `Gemfile.lock` files.

[2017-10-12 01:32] postmodern commented on #181
Would this be relevant to @mveytsman and @phillmv's interests?

[2017-10-12 01:37] postmodern commented on #179
We would need to add special logic for handling rubygems vulnerabilities, since rubygems comes vendored (but not as a gem) with ruby and can also be updated via installing the [rubygems-update](https://rubygems.org/gems/rubygems-update) gem. I think it's fine for [ruby_audit](https://github.com/civisanalytics/ruby_audit) to take on this feature, as bundler-audit purpose is to audit your bundled pr

[2017-10-12 01:41] postmodern commented on #178
Scanning multiple lock files is related to #181. Would definitely like to support that.

[2017-10-12 01:46] postmodern commented on #174
bundler-audit will indeed flag `git://` URIs, unless the host points to an internal IP address. I recommend using `git@...` URIs with SSH key forwarding, or host your private repos on a Git server that's you access via a VPN.

[2017-10-12 01:46] #174 closed

[2017-10-12 02:07] postmodern commented on #163
OSVDB shutdown their service and bundler-audit nor ruby-advisory-db ever used their API.

[2017-10-12 02:07] #163 closed

[2017-10-12 02:11] postmodern commented on #9
@antoncohen pointed out that now bundler-audit provides a rake task which can be loaded into a Rakefile, does that constitute linking? If the Rakefile is only used during development, does that mean the whole project becomes a derivative work?

[2017-10-12 02:24] postmodern commented on #161
@obfuscoder can you link me to the XSD file for the OWASP Dependency Checker output format?

I would like to create Report Formatter classes for handling plain-text, json, etc. Also would like to avoid depping in nokogiri for XML output; rexml has been moved out of stdlib as well. Perhaps we could lazy-load the Formatter class and have an optional bundler-audit-owasp gem?

[2017-10-12 02:26] postmodern commented on #160
Try running `bundler update bundler-audit`. Since you're `bundle exec`ing, it's still using bundler-audit 0.5.0, instead of more recent 0.6.0 available on rubygems.org.

[2017-10-16 07:31] obfuscoder commented on #161
@postmodern If I am not mistaken, the current XSD for the depencency check can be found here:

https://github.com/jeremylong/DependencyCheck/blob/master/dependency-check-core/src/main/resources/schema/dependency-check.1.6.xsd

Requiring an additional gem for having this output format supported is fine with me.

[2017-10-18 03:43] dnd commented on #161
I would give a +1 to creating a formatter class, and provide a way for people to hook in their own gems for formatting. Providing some common ones such as plain text, json, html in the main project would probably be good. Then for something more specific like OWASP have an optional gem like suggested.

[2017-10-22 03:55] picatz commented on #181
This may be partially related to https://github.com/rubysec/bundler-audit/pull/182

[2017-10-23 19:23] saigkill opened #183 "Your local changes to the following files would be overwritten by merge"
I tried a bundle_audit:update and got:
Updating ruby-advisory-db ...
From https://github.com/rubysec/ruby-advisory-db
 * branch            master     -> FETCH_HEAD
Updating be85e28..614dea0
error: Your local changes to the following files would be overwritten by merge:
        README.md
        gems/passenger/CVE-2016-10345.yml
Please commit your changes or stash them before you merge.
Aborting

H

[2017-11-19 17:22] ericsullivan commented on #179
You can [specify a ruby version in bundler](http://bundler.io/v1.16/gemfile_ruby.html), which creates an entry in Gemfile.lock. Should bundler-audit evaluate that entry for vulnerabilities?
ruby_audit doesn't use that version (it calls `ruby --version`).

[2017-11-25 01:53] postmodern commented on #179
@ericsullivan that would be more useful than just checking the current ruby version bundler-audit happens to be running under. However, bundler doesn't record or require specific rubygems versions. So even if you are running a patched version of rubygems, your production environment may not be; and vice versa.

[2017-11-27 13:57] ericsullivan commented on #179
Right, it's only half of a solution. If you specify a ruby version in the Gemfile and it doesn't match bundler throws an error and doesn't start, so it is a nice way to ensure your app is running on the correct ruby version. That you can't specify rubygems is unfortunate.

[2017-12-13 01:26] ericsullivan commented on #179
As an update, specifying the RubyGems version in bundler is not a feature the team would like to take on at this time.

[2017-12-18 12:34] CloCkWeRX opened #185 "Ignore fails for some ids"
Setup:
[code]

Reproduce:
[code]

Expected:
Ignore ignores both

Actual: only one ignore works
[code]

[2018-01-30 16:32] philCryoport opened #186 "Feature request: ability to generate more detailed report"
Hi!  It would be great for reporting purposes to have the option to request a more detailed report with details such as:
* date/time/timezone of scan
* version of ruby advisory database at time of scan (post-update of course if an update is requested)
* directories scanned
* all gems (with versions) scanned
** currently `bundler audit` only shows detected vulnerable gems

Please add this "all" / "

[2018-01-31 23:47] postmodern commented on #161
Sorry for the long pause. I did a code-spike and came up with an extendable interface for registering different "printers". Check it out: https://github.com/rubysec/bundler-audit/compare/cli-printers?expand=1

[2018-02-01 11:48] uberspot commented on #161
Nice 👍  Are there plans to add json output as well in the printers? ^_^

[2018-02-01 21:14] postmodern commented on #161
I'm still fiddling with the API. Adding a Report class, and thinking about supporting output to a file, so only the report data gets saved and not any output from `git pull`. Will probably add a very basic JSON formatter.

[2018-02-07 19:52] paranoicsan commented on #183
I've got the same sporadical errors 😞 Any update or workaround?
[code]

[2018-02-13 09:57] fatal10110 opened #187 "Change license type"
Hey, I know that it was already discussed here #81, but our company was asked to remove your gem
from our source code, because of legal (license) issue.

So is it possible to change the license?

Thanks!

[2018-02-28 05:08] daveallie commented on #181
Interested in this. Currently working through the process of upgrading a production app, and currently have the app booting 2 versions of Rails. Each version is run off different bundler lockfiles, `Gemfile.lock`, and `GemfileNext.lock`. Would love for a way to supply a list of lockfiles to test or cli support for custom lockfile path. If you're interested in the latter (even though it will most l

[2018-03-09 15:45] tmestdagh commented on #75
I had this issue too on debian stretch, not on alpine 3.6 though.
Updating the bundler-audit gem solved it for debian stretch.

[2018-03-29 22:31] thbar commented on #185
I dived into this, and actually this is based on `Thor` options, with documentation at https://github.com/erikhuda/thor/wiki/Method-Options#types-for-method_options.

It should work if you write:

[code]

[2018-03-30 15:51] paranoicsan commented on #183
Solved.

Found [that line](https://github.com/rubysec/bundler-audit/blob/master/lib/bundler/audit/database.rb#L41) to detect where gem stores the DB. Removed all data and updated all from scratch.

[2018-04-29 17:53] shanecav84 commented on #21
@postmodern I'm having an issue in Travis that might be related. I'm testing against multiple versions of a dependency using [these instructions](https://docs.travis-ci.com/user/languages/ruby/#Testing-against-multiple-versions-of-dependencies). The tests fail because `bundler-audit` is unable to find the lockfile. There are two reasons for the issue:

1. `bundler-audit` is looking for `Gemfile.lo

[2018-05-24 15:40] mrosePTC opened #191 "With bundler v1.16.2 `bundle audit` is no longer being found"
With the recent release of bundler 1.16.2, bundle audit is no longer being found by bundler.

With the latest ruby:2.5 docker container:

[code]

The `audit` command is not being found by `bundle`, but calling out the full path to the gem will succeed.

[2018-05-25 11:42] olbrich commented on #191
This may be related to the recent release of rubygems 2.7.7

[2018-05-25 12:37] mrosePTC commented on #191
From the same environment, the gem version is reporting as 2.7.7
[code]

[2018-06-05 08:58] iainbeeston commented on #191
I'm seeing this as well, however I can reproduce on linux but not mac (on mac it works as expected). I'm using rubygems 2.7.7, bundler 1.16.2 and ruby 2.5.1. I've tried clearing caches and uninstalling/reinstalling and I still see the same issue.

However, if instead of running `bundle audit` I run `bundle exec bundle-audit` it works

[2018-06-05 13:15] olbrich commented on #191
@iainbeeston how did you install ruby on your linux box?  I've run into some strange bugs when using the ruby-ng package on ubuntu.

[2018-06-11 16:54] sandipsubedi commented on #183
@paranoicsan can you explain what you mean by this:

Also, is there any release coming soon for this ?

[2018-06-11 17:03] paranoicsan commented on #183
@sandipsubedi I just deleted my local copy of the advisory database. And the next update went smoothly.

[2018-06-12 02:00] postmodern commented on #183
I'm not sure where these local changes are coming from, but maybe we could force git to wipe out any local changes? `git reset --hard HEAD && git clean -f -d` before `git pull` maybe?

[2018-06-12 02:04] postmodern commented on #191
Is bundler-audit installed globally via `gem install`? I don't think bundler looks in the current bundle for additional CLI commands.

[2018-06-12 11:45] mrosePTC commented on #191
In the docker container, I would assume that it is. Though the most recent ruby:2 image  no longer has this issue. I can no longer reproduce the issue.

[2018-06-12 12:12] iainbeeston commented on #191
Sorry, not sure if those questions are directed at me or not. In my case ruby is preinstalled on the docker container. I'm installing bundler-audit via my Gemfile (not gem install)

[2018-06-12 17:43] postmodern commented on #191
If you install bundler-audit via the Gemfile, then `bundle exec` will be required to run it. If you want it globally accessible, then simply `gem install` it.

[2018-06-26 17:31] jaredbeck commented on #164
Closed by https://github.com/rubysec/bundler-audit/pull/168

[2018-06-26 17:31] #164 closed

[2018-07-05 16:55] esambo opened #192 "Vulnerable security dependency: thor"
https://github.com/erikhuda/thor/issues/514

The only reason that my project depends on thor is because of this gem, but now I have a security vulnerability!
Is it possible to replace or remove it?

[2018-07-06 18:39] philum66 opened #193 "`parse': Illformed requirement ["2.0.0-alpha"] (Gem::Requirement::BadRequirementError)"
When running audit on my project, got the traceback below.  I tracked it down to .local/share/ruby-advisory-db/gems/sinatra/CVE-2018-11627.yml.  Last line is "2.0.0-alpha".  If I change it to "2.0.0.alpha" the audit runs to completion. Looks like it doesn't like the "-" in the version.

My version:
$ bundle audit version
bundler-audit 0.6.0 (advisories: 317)

/usr/share/rubygems/rubygems/requireme

[2018-07-11 02:49] ypresto commented on #191
Confirmed it works with `bundle exec bundle audit` on CircleCI!

[2018-07-11 18:10] toobulkeh opened #194 "Rename gem to nokogiri-notifier"
Does this gem even _do_ anything else?

[2018-08-02 13:35] ThomasKoppensteiner commented on #185
@thbar your suggested fix doesn't work for me. The `--ignore` option works, for me, only with alpha-numeric-codes.

    $ bundle-audit check --ignore=114435

    Name: devise
    Version: 1.5.4
    Advisory: 114435
    Criticality: Unknown
    URL: http://blog.plataformatec.com.br/2013/08/csrf-token-fixation-attacks-in-devise/
    Title: CSRF token fixation attacks in Devise
    Solution: upgrade

[2018-08-09 14:22] alex-mohemian commented on #187
Yes please! We can not use this gem because of that reason.

[2018-08-25 21:27] david-a-wheeler commented on #187
It looks like this was already resolved in #81.  I can say we don't have any problem.

[2018-08-25 21:31] david-a-wheeler opened #195 "Feature request: Allow group selection"
I'd like to be able to select a *subset* of gems based on the groups in the Gemfile.

In my case, [rubyzip has an unresolved vulnerability](https://github.com/rubyzip/rubyzip/pull/371) but since I only use it in test or development, it doesn't matter to me.

I'd like to be able to say "report only gems that are ALWAYS required or are in the production group".  Alternatively, being able to "ignore

[2018-08-26 04:01] ecbrodie commented on #178
@postmodern A situation where this could be useful is when I only want production-level gems to be checked and I want development gems to be excluded. I could maintain a `Gemfile.lock` file specific to just my production gems in my project, and point bundle-audit to it.

Although it's nice to be protected against all vulnerabilities, sometimes it is less urgent to resolve a vulnerability if it's j

[2018-08-27 07:53] #187 closed

[2018-08-28 16:02] #191 closed

[2018-08-29 06:55] MrBerg commented on #185
@CloCkWeRX and @ThomasKoppensteiner, did you try `bundle-audit check --ignore OSVDB-131671` or `--ignore OSVDB-114435`? That's the format that is shown in the README.md for OSVDB advisories.

[2018-08-29 10:36] ThomasKoppensteiner commented on #185
@MrBerg thank you. `bundle-audit check --ignore=OSVDB-114435` works.
This means for me, that numeric advisory codes need the `OSVDB-` prefix for the ignore param.

[2018-08-31 11:41] sterankin opened #197 "Request - HTML output"
I'm not seeing an obvious way to output to HTML as part of a CI build.

Is there an -o html?

Also - how can i prevent the CI task from failing with an Exit status of 1?

[2018-09-11 07:47] kaikuchn commented on #146
Conversely, would it be possible to ignore advisories for certain platforms? E.g., Windows. I don't deploy on Windows, and nobody on my team is using Windows.
Or maybe allow people to opt-in to fail only on advisories pertaining to the current platform? I prefer the former since the chance of missing a relevant CVE is much less likely while not being annoyed with CVEs that are irrelevant.

[2018-09-19 16:49] thirdender commented on #197
The author is working on a Formatting API, as several people have requested JSON and XML output. See #161 for details. If the XML formatter is working, you might be able to convert it to HTML using XSLT.

For the exit status, it looks like it will always return an exit code of 1 if there are vulnerabilities (https://github.com/rubysec/bundler-audit/blob/master/lib/bundler/audit/cli.rb#L57). You ca

[2018-10-19 21:38] #194 closed

[2018-11-25 23:44] viraptor opened #201 "Support running without HOME set"
When running in an environment without `HOME` variable set, the app explodes with:
[code]
This should be handled in a nicer way. Maybe with a warning and reverting to a tempdir (and then to `/tmp` if necessary), rather than raising an exception.

[2018-12-01 10:40] unikitty37 opened #202 "Support bundler-2"
Bundler version 2 is due soon, but bundler-audit is hard-locked to version 1:

[code]

There doesn't seem to have been a commit for a year — will Bundler v2 be supported?

[2018-12-06 04:01] mallyvai commented on #178
Going to +1 this - we would really appreciate this feature for CI purposes.

[2018-12-13 19:48] granicus-pigeon commented on #161
This might sound weird, but it'd be super nice to have a junit xml output. Gitlab supports it without needing enterprise edition and it would be nice to get a merge request level report when vulnerabilities appear. For projects that use the gradle task https://www.owasp.org/index.php/OWASP_Dependency_Check, I actually have a custom task that converts it to junit so that it shows up.

Also, IIRC Je

[2018-12-13 19:48] alexives commented on #161
This might sound weird, but it'd be super nice to have a junit xml output. Gitlab supports it without needing enterprise edition and it would be nice to get a merge request level report when vulnerabilities appear. For projects that use the gradle task https://www.owasp.org/index.php/OWASP_Dependency_Check, I actually have a custom task that converts it to junit so that it shows up.

Also, IIRC Je

[2018-12-18 17:41] gsum commented on #191
Confirmed `bundle exec bundler-audit` works

[2019-01-04 15:21] bencrouse commented on #202
so, this is fixed here: https://github.com/rubysec/bundler-audit/commit/fade76150372f18e9c2755fa11604b9b8f6a2c2e

just needs a patch release! @postmodern, any ETA on that?

[2019-01-05 23:42] bkuhlmann commented on #202
:information_source: Hitting this issue as well. As a temporary workaround, I'm using the following solution:

[code]

This replaces the gem with the fix on `master` for all local development. Might have to apply this workaround to the CI builds if a version release doesn't happen soon, though.

[2019-01-07 14:17] bencrouse commented on #202
yeah, I'm in a situation where this is a gemspec dependency so I can't point directly at git without editing a lot of repos... :(

any ETA @postmodern ?

[2019-01-07 22:19] postmodern commented on #202
The dependency has already been updated via #203. 1.6.1 is currently blocked on this one Travis failure. https://travis-ci.org/rubysec/bundler-audit/jobs/475578889

[2019-01-07 22:19] #202 closed

[2019-01-08 09:54] postmodern commented on #202
@eric-pigeon fixed the regexp issue! I will be traveling tomorrow and the next day, so probably expect 0.6.1 to be released Thursday.

[2019-01-10 14:12] mensfeld commented on #202
@postmodern as a quick reminder ;) I'm waiting for that as well (same gemspec situation).

[2019-01-14 14:15] bencrouse commented on #202
hey @postmodern, anything else we can do push this along?

[2019-01-15 20:43] postmodern commented on #202
I've been offline due to a really bad head cold. I prepped a release, just have to double check it, and push it up.

[2019-01-15 21:43] bencrouse commented on #202
thanks, I'd really appreciate that. I hope you feel better soon!

[2019-01-15 22:22] Adithya-copart commented on #202
Thanks for the update!

[2019-01-17 17:57] salzig commented on #161
Hope #206 gets us some progress :)

[2019-01-18 12:44] salzig commented on #197
#206 adds support for plain and xml output.

@sterankin
`bundle-audit check || true`

[2019-01-19 17:07] sashank opened #208 "Bundle Audit giving error"
hi am getting below error please help

[code]

[2019-01-29 09:14] tbuehlmann commented on #208
Are you running the command in a directory that has a Gemfile?

[2019-02-18 17:18] dstull commented on #178
+1 for same CI purposes

[2019-03-08 02:34] postmodern commented on #195
This is a good idea. Will have to look into the Bundler API to select the sub-group.

[2019-03-21 22:08] minifast-julia commented on #9
Another vote in favor of an MIT release, in support of secure velocity.

[2019-03-28 10:48] strika opened #209 "Error for Rails 5.1.7, recommends upgrading to 5.1.6.1"
This is after running `bundle audit check --update`:

[code]

[2019-03-29 09:57] strika commented on #209
This is resolved now.

[2019-03-29 09:57] #209 closed

[2019-04-03 02:33] mooreds opened #210 "Database hasn't been updated for 2 years"
Looks like the ruby sec database has been updated recently: https://github.com/rubysec/ruby-advisory-db but the database associated with this gem is 2 years old.

Any chance we can get the most recent database installed?

[2019-04-03 02:38] mooreds commented on #210
https://github.com/rubysec/bundler-audit/tree/master/data points to the old db. Not sure how to adjust it to point to the newest, or if there is some reason for not doing so (looked at issues, didn't see any that indicated a problem).

[2019-04-03 03:12] mooreds commented on #210
Ah, you just need to run `bundle audit update` before you run `bundle audit check` to grab the latest database.

[2019-04-03 03:12] #210 closed

[2019-04-04 20:39] baburdick opened #211 "Support matching rubygems version to tag in GitHub or warn"
We run `bundle-audit` as part of our pre-deployment checks, and love it. It's saved our bacon a few times.

The malicious code [inserted recently](https://snyk.io/blog/malicious-remote-code-execution-backdoor-discovered-in-the-popular-bootstrap-sass-ruby-gem/) in the [bootstrap-sass](https://github.com/twbs/bootstrap-sass) gem on rubygems concerns me greatly. It's something that might not have bee

[2019-04-05 19:00] baburdick commented on #211
Related: https://github.com/rubygems/rubygems.org/issues/1943

[2019-04-08 19:44] postmodern commented on #9
Going to eventually extract a ruby-advisory-db library and release that as MIT. bundler-audit is just a CLI tool, not intended to be used as a library.

[2019-04-08 19:44] #9 closed

[2019-05-07 12:49] eirvandelden commented on #193
FYI: I'm having the same issue.

* Bundler `1.17.3`
* Ruby `ruby-2.0.0-p353`

[2019-06-08 19:13] felixhammerl opened #213 "Fails silently when not invoked from bash"
I've encountered this problem in the [hawkeye security scanner project](https://github.com/hawkeyesec/scanner-cli/): I run `bundle-audit` via node's [child_process.spawn](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options), which by default does not run it in a shell.

Everything else (even brakeman) runs fine like this and causes no problems. Even bun

[2019-08-07 15:43] nl-brett-stime opened #218 "Read ignores from e.g., a `.bundler-audit.ignore` file"
GitHub issues security alerts for Ruby projects based on the `Gemfile.lock` within a given repo. I suspect they may be using `bundler-audit` but users don't have any control over the flags they pass on the command line.

It'd be great if bundler-audit could read something comparable to `.gitignore` files but with a name particular to bundler-audit itself. That way users could inform GitHub's syste

[2019-08-07 19:15] MadhurRajendran opened #219 "the data for html_rails_sanitizer is out of date"
3333cf2 lists the patch version of rails-html-sanitizer as "~> 1.0.3"

This is causing the newly released 1.1.0 to be flagged as a security vulnerability.

The current ruby-advisory has changed it to ">= 1.0.3"

[2019-08-07 19:41] MadhurRajendran commented on #219
Nvm...this was an issue because I wasn't updating it first. Sorry about that.

[2019-08-07 19:41] #219 closed

[2019-08-13 11:55] likeuwill opened #220 "rails-html-sanitizer v.1.2.0 vulnerability"
Guys from `rails-html-sanitizer` said to report here.
[code]

[2019-08-14 11:18] jschoolcraft opened #221 "airbrake-ruby blacklist_keywords not working"
I'm not sure if this is within the scope of bundler-audit but it bit us and might help someone else, see: https://github.com/airbrake/airbrake-ruby/issues/468 versions below `4.2.4` have the potential to ignore `blacklist_keywords` and expose that data.

Thanks for all the work you do!

[2019-08-14 20:56] celvro commented on #220
I just had the same issue, you have to update the db that audit uses:

bundle audit --update

[2019-08-15 03:54] kyrylo commented on #221
Thanks for reporting @jschoolcraft. My bad for not adding it to bundler-audit. I tried to submit a CVE via the website but it errors for me when I hit "submit". I'm copying the YAML of the CVE in the hope that someone could add it manually:

[code]

[2019-08-16 10:30] likeuwill commented on #220
The problem was because we have `ruby:2.6.3-alpine3.9` image for docker which doesn't contain `git` so we have `Skipping update` because not git installed.
[code]
Just add `git` to docker image to resolve it.

[2019-08-16 14:49] emwalker commented on #169
I'm seeing this as well for the recent omniauth CVE:
[code]

I was hoping to add `bundle audit check` to CI, but the error status is going to make it hard to do this.

[2019-08-27 08:46] kjeldahl commented on #169
It seems to work in v0.6.1

[code]

If I skip the --ignore option it still fails as it is supposed to.

[2019-08-27 08:49] kjeldahl commented on #218
This could be pretty nice to have especially if it would work for the rake task as well, as it it currently not possible to pass the `--ignore` option to it

[2019-08-29 17:06] grosser opened #223 "Option to include ruby-mem-advisory-db ?"
https://github.com/rubymem/ruby-mem-advisory-db seems interesting, would adding it (maybe with an opt-in flag) be a good idea ?

[2019-09-05 09:22] kyrylo commented on #221
I submitted this YAML in the PR for the Ruby advisory database: https://github.com/rubysec/ruby-advisory-db/pull/412

[2019-09-05 18:00] reedloden commented on #221
Closing this out, as https://github.com/rubysec/ruby-advisory-db/pull/412 is the right place :-)

[2019-09-05 18:00] #221 closed

[2019-09-23 14:43] reedloden commented on #220
Closing this out, as it doesn't look like an issue with bundler-audit.

[2019-09-23 14:43] #220 closed

[2019-10-03 15:30] cyc115 opened #227 "Feature request: EoL version tracking"
I'd like to be able to track and alert on end of life ruby versions and gems with `bundler-audit`. Letting it fail my builds if Ruby 2.3 (EoL'ed) is used would be nice.

This feature could live behind a flag and is off by default to avoid breaking existing builds.

Any thoughts or suggestions is welcome.

discussion on [ruby-advisory-db](https://github.com/rubysec/ruby-advisory-db/issues/416).

[2019-10-22 18:05] fatkodima opened #229 "Feature request: Audit ruby version, when specified"
When Gemfile.lock includes ruby version, something like
[code]

than verify it for vulnerabilities.
If this is a valuable feature for this project, then I will send a PR.

[2019-10-25 12:56] fatkodima commented on #201
@viraptor I'm curious, in which environments `HOME` can not be set and why? If this was unset manually, then whats usecase for this?

[2019-10-25 23:46] viraptor commented on #201
I can't remember exactly how it happened. It was some temporary low-privilege user being activated in a CI job.

[2019-11-23 03:28] postmodern commented on #223
Conflicted on whether bundler-audit should audit _all the things_, or if we should have separate niche tools similar to bundler-audit. I already see there's [bundler-leak](https://github.com/rubymem/bundler-leak).

[2019-11-23 04:24] grosser commented on #223
It's kinda wasteful duplication ... would be nice to have a single tool and
then plug in different sources
default could be cves and with --source 'https://github.com/foo/leak-list'
then there is more :)

On Fri, Nov 22, 2019 at 7:28 PM Postmodern <notifications@github.com> wrote:

[2019-12-04 13:58] gkpacker opened #232 "[help] How to config Gemfile path?"
ATM i'm using bundler audit at sourcelevel.io, but my gemfile isn't in the common path... There is any file that i can config it? (I can't modify the bundler audit command, it runs automatically when you config the engine)

[2019-12-04 16:58] #232 closed

[2019-12-04 17:00] gkpacker commented on #232
We had to move back our gemfile to the root and fix all the stuff that used to block it from being there

[2019-12-05 06:47] kopylovvlad opened #234 "How to ignore vulnerabilities without CVE and OSVDB"
The gem found the [vulnerability](https://github.com/rubysec/ruby-advisory-db/blob/c668902e7da0caea64a536b0b1ead59eb537c4ea/gems/yard/GHSA-xfhh-rx56-rxcr.yml) and printed out the information
[code]

It's really interesting because the vulnerability hasn't advisory (such a CVE-2019-*****). I opened the source code and saw that the gem allows to ignore vulnerabilities by CVE or OSVDB. But it doesn't

[2019-12-06 05:57] kopylovvlad commented on #218
Yes, `.bundler-audit.ignore` it's a great feature, especially if you have a big RoR application, you want to integrate `bundler-audit` into your CI, but you are not able to fix all vulnerable in one PL.

For me, I founded out following solution. I wrote one rake task and run `bundler-audit` such a
[code]

[2019-12-16 23:01] slayer opened #235 "ArgumentError: bad argument (expected URI object or URI string)"
bundler-audit starts failing today at CI:

[code]

[2019-12-19 13:07] dmtask commented on #235
I think i have the same Problem. My Gitlab Pipelines failed, because the Command `bundle exec bundle-audit` give a Error `Could not find command "audit".`

[2019-12-20 11:51] olegantonyan commented on #235
The problem is that we got `Bundler::URI::HTTP` instead of `URI::HTTP`. This comes from bundler itself from `Bundler::LockfileParser` class.
Downgrading bundler from 2.1.2 to 2.0.2 resolves the issue.
Reported in bundler https://github.com/bundler/bundler/issues/7511

[2019-12-20 17:11] dmtask commented on #235
Yes, this was my solution. :)

[2020-01-03 11:39] norbertszivos opened #239 "Old thor version can cause errors from Ruby 2.5"
We are using Rails 5.2.4 and Ruby 2.5.x and your awesome gem as well. After some gem updates the `thor` gem version was updated to `0.20.3` and when I try to run a rake command like `bundle exec rake -T` got this error: `TypeError: NameErrorCheckers is not a module`

After a long investigation I realised that the `thor` gem caused this because they start to support `did_you_mean` library. The prob

[2020-01-07 13:43] joshRpowell commented on #239
see #237

[2020-01-13 03:03] ZimbiX commented on #158
We've just been hit by this. Luckily, GitHub notified us about the vulnerability, or we wouldn't have known!

'Skipping update' is a very misleading message for this situation. I'd always interpreted it as 'the vulnerability database is already sufficiently up-to-date'! Not that it would **never be checking for new vulnerabilities** (unless we updated the version of `bundler-audit` - I take it it'

[2020-01-13 07:33] ThomasKoppensteiner commented on #235
@olegantonyan, @slayer and @dmtask do you think my pull request is helpful?

[2020-01-13 07:44] TamerShlash commented on #179
I guess I understand now why this does not belong here.

[2020-01-13 07:44] #179 closed

[2020-01-14 06:55] dmtask commented on #235
@ThomasKoppensteiner Maybe, but I'm not sure. Is the fix working on your tests? (I can't test it right now. I am currently running version 2.0.2 stable).

[2020-01-20 07:47] flaprano commented on #235
I have this same problem.  I found out yesterday that it only happened to my internal rubygems and also because it uses HTTP.  If the address uses HTTPS, it is not attempted to cast the URI object

[2020-01-27 09:59] chrislewis60 commented on #235
Yeah, make sure you reference the rubygems **https** address in your Gemfile, and re-run bundle if you update it from http. I was updating an old project that referenced http when I encountered this issue.
`source 'https://rubygems.org'`

[2020-02-03 10:06] ThomasKoppensteiner commented on #235
FYI: I closed my PR (#240) because a similar fix (#236) has already been merged.

[2020-02-04 22:42] postmodern commented on #218
I think supporting a `.bundler-audit.yml` or `.bundle/audit.yml` file would be better. That way we can configure various ignores and the path(s) to the Gemfile.lock(s).

[2020-02-04 22:45] postmodern commented on #234
This is probably due to ruby-advisory-db supporting `ghsa` IDs. Support for ghsa IDs was merged in ad5afdadf6b792eca6e4ae872e1bb858fa9cdc2c.

[2020-02-04 22:45] #234 closed

[2020-02-04 22:51] postmodern commented on #210
bundler-audit 0.7.0 will switch to auto-downloading the DB on first run. Afterwards, users will have to update the DB via `bundle-audit update` or the `--update` options.

[2020-02-04 23:22] postmodern commented on #75
Closing this. I'm working on removing the vendored DB, and auto-downloading the DB on first run. Maybe there's a better way to hint to users they should update their DB from time-to-time?

[2020-02-04 23:22] #75 closed

[2020-03-08 16:33] postmodern opened #249 "Refactor CLI specs to use RSpec output matcher"
RSpec now supports an [output matcher](https://relishapp.com/rspec/rspec-expectations/docs/built-in-matchers/output-matcher). It may be possible to rewrite the CLI specs to execute the Thor class directly, and match what's written to STDOUT/STDERR.

[2020-03-08 16:39] postmodern commented on #61
Finally removed the vendored database in the 0.7.0 branch and fixed the specs. Only the CLI specs are failing. The vendored database has caused lots of issues where users complained the database was too old, not realizing they could update via `bundler-audit update`.

[2020-03-08 16:43] postmodern commented on #201
We could switch to using `Gem.home` which has logic to figure out the home directory if `HOME` isn't set.

[2020-03-09 10:44] viraptor commented on #201
@postmodern It would likely be better, but does it have a fallback if there's actually no homedir, or if the process is sandboxed in a way that home is not writable? There could be also a specific flag like `--without-home`

[2020-03-22 03:07] postmodern commented on #201
Wouldn't it be possible to just set your own `HOME` and point it somewhere writable?

[2020-03-22 03:21] postmodern commented on #249
Looks like this has already been done in the CLI specs. The integration specs still capture the output of the command. Perhaps merge the integration specs into the regular CLI specs that use `.to output`.

[2020-03-22 03:21] #249 closed

[2020-03-26 08:22] jebentier commented on #218
@postmodern I came across this issue because I've been looking to see if there was a simple way to wrap this gem to allow for a dot config file. So instead of making that wrapper, I went ahead and added the dot config file directly to the gem through #253.  Would appreciate any feedback on the pull request.  Like you said, this opens up a whole new level of configuration for the project which will

[2020-03-31 15:36] jmks commented on #229
It would also be nice if something could audit [rubygems](https://github.com/rubygems/rubygems) which I know is not in the lock file.

[2020-04-02 17:00] mariuz opened #254 "rails-html-sanitizer 1.3.0 installed , bundler-audit propose to upgrade to ~> 1.0.3"
[code]

[code]

[2020-04-11 01:39] reedloden commented on #254
You need to update the database that `bundler-audit` uses. `bundle audit --update` :-)

[2020-04-13 09:35] mariuz commented on #254
yes that fixed it

[2020-04-13 09:35] #254 closed

[2020-04-14 07:25] postmodern opened #255 "Write specs for Bundler::Audit::CLI::Formats::Text"
Replace `spec/integration_spec.rb` with specs for `Bundler::Audit::CLI::Formats::Text`.

[2020-04-14 07:26] postmodern opened #256 "Write specs for Bundler::Audit::CLI::Formats::JSON"
`Bundler::Audit::CLI::Formats::JSON` needs specs.

[2020-04-24 22:39] viraptor commented on #201
Sure, it can be. If consider it a workaround rather than a solution, but it would work.

Still, an explicit message that running without HOME set is not supported would be great.

[2020-04-25 04:35] bethesque commented on #218
Having the same issue with the onmiauth gem. Would love to see any fix that allows the --ignore to be configured for the rake task.

[2020-05-19 11:04] jamgregory opened #259 "Notify if database is old?"
_Just a suggestion, which I'm happy to do a PR for if folks think it's useful._

---

Should bundler-audit warn if the vulnerability database if over a certain age? I recently missed updating a gem when running it because my database was pretty old (< April 2019, I think!)

Not sure if this should be customisable, or if a suitably enforced age check would work? (> 30 days old?)

Thoughts appreciat

[2020-05-19 14:45] ThomasKoppensteiner commented on #235
Can someone from @rubysec (@indirect, @brynary or @hsbt) please release the already merged fix from #236?

[2020-05-19 14:48] HarlemSquirrel opened #260 "Trying to register Bundler::GemfileError for status code 4 but Bundler::GemfileError is already registered (ArgumentError)"
[code]

[2020-05-19 17:54] indirect commented on #235
@ThomasKoppensteiner I'm not sure why you think any of us have the ability to do that. You can easily see from https://rubygems.org/gems/bundler-audit that only @postmodern has permissions to release the gem.

[2020-05-19 19:23] ThomasKoppensteiner commented on #235
Sorry for bothering you.
I only looked at the member list here at Github and didn't checked the owner at rubygems.

[2020-05-19 23:53] ge-fa commented on #259
I would probably let it error out in this case, to make this more obvious to the user. I'm not sure what an audit check offers if old, probably outdated, data is in use.

[2020-05-20 18:17] Pro777 opened #261 "bundler-audit reports false positive for rails-html-sanitizer 1.3.0"
bundler-audit reports:
[code]

The developer reports this as a false positive: https://github.com/rails/rails-html-sanitizer/issues/106

[2020-05-20 18:18] #261 closed

[2020-05-29 22:13] mcandre commented on #260
Same.

Ruby 2.7.1 via RVM, on Homebrew, on macOS 10.15.4 Catalina.

[2020-06-07 17:34] #158 closed

[2020-06-13 05:30] mtsmfm opened #265 "bundler-audit-0.7.0/data/ruby-advisory-db is not a directory (ArgumentError)"
Is this intentional?

## Steps to reproduce

[code]

## Result

[code]

[2020-06-13 07:34] postmodern commented on #265
Ah damn it. I forgot to re-run `git submodule init` and `git submodule update` to re-populate `data/ruby-advisory-db` so the built-in ruby-advisory-db never got packaged. Embarrassingly stupid mistake. Preferences on a 0.7.0 or 0.7.0.1 release?

[2020-06-13 07:36] vaporyhumo commented on #265
You meant 0.7.1? That's what I'd go for. Probably should yank `0.7.0`.

[2020-06-13 07:42] postmodern commented on #265
Hotfix 0.7.0.1 pushed out and tested locally. A fourth version number usually denotes hotfixes for dumb show-stopping bugs. Any additional minor bug fixes will go into a 0.7.1 release.

[2020-06-13 07:42] #265 closed

[2020-06-13 07:45] vaporyhumo commented on #265
Thanks for aclaration, take a look at the typo I pointed out in the rake task.

[2020-06-13 07:54] mtsmfm commented on #265
I've confirmed it's fixed now!

[code]

[2020-06-14 23:56] Domon opened #267 "Git is not installed!"
Hi,

`bundle-audit check --update` failed to run in our build process suddenly and returned the following error message.

I checked the Changelog but couldn't find any related information or upgrading suggestion.
https://github.com/rubysec/bundler-audit/blob/e64c5c7197edcb5b19bb94f63a39b6819a26e03b/ChangeLog.md

I wonder if that error comes from a PR merged recently.
https://github.com/rubysec/bun

[2020-06-15 06:47] reedloden commented on #267
`bundler-audit` has always required `git` for keeping its advisory database updated. The repository comes from https://github.com/rubysec/ruby-advisory-db. Without `git`, any use of `bundler-audit` would not be using an updated database, meaning any checks run would likely miss all vulnerabilities added since the last `bundler-audit` gem release.

[2020-06-15 06:49] reedloden commented on #267
See also https://github.com/rubysec/bundler-audit/issues/259.

[2020-06-15 09:01] Domon commented on #267
Thanks @reedloden for the explanation. 🙇

Out of curiosity, I installed `0.6.1` and tried the same command. The command was executed successfully with a message saying that the database was not updated.

[code]

In comparison, the command failed in `0.7.0.1`.

[code]

I guess most people would like to run the command with the latest database. It's just not very obvious in the error message and the

[2020-06-15 14:44] mbirman commented on #267
@Domon are you using [andrewmcodes/bundler-audit-action](https://github.com/andrewmcodes/bundler-audit-action)?

[2020-06-16 01:28] Domon commented on #267
No. Good to know there is a Github Action for bundler audit though.

[2020-06-17 12:31] enthusiasmus commented on #267
For us it is the most important feature ever! No one knew that the advisories db doesn't get updated without git.

[2020-06-23 09:48] clushie commented on #197
Just in case someone needs an easy one-shot solution to display bundler-audit's output in a browser you (just the colors) you can do something like this, which results in a [html you can check out here](https://jsfiddle.net/huc4q2kr/).

[code]

[2020-08-17 13:30] Vafa-Andalibi opened #272 "How to get severity of a vulnerability in the report with cvss of `null`?"
seems like cvss can be converted to severity using the following method:

[code]

However, in most of the record cvss is set to null. How should that be converted to severity?

[2020-09-19 19:49] Draqun opened #275 "Installing bundler-audit is not possible on Windows throught symlink."
Hi.

I tried today install your gem, but I got a Permission denied. These is error message.

Is it possible to make a fix for windows, or it is a unix only gem?

Best regards.
Draqun

[2020-12-04 21:51] postmodern commented on #267
In addition to mentioning that `git` is a dependency, I've added explicit instructions on how to install `git` in 256ad82.

[2020-12-04 21:51] #267 closed

[2020-12-04 21:55] postmodern commented on #275
I'm curious if the same thing happens if you run `git clone https://github.com/rubysec/ruby-advisory-db.git`?

[2020-12-04 22:01] postmodern commented on #272
The `cvss_v2` or `cvss_v3` field needs to be populated in [ruby-advisory-db](https://github.com/rubysec/ruby-advisory-db) via a Pull Request. Ever since dc508d2189d9ba0f50f61208ff75f32f65d7da57, bundler-audit outputs "Unknown" if there is no CVSS score.

[2020-12-04 22:01] #272 closed

[2020-12-04 22:03] postmodern commented on #259
In the upcoming 0.8.0 release the database will be auto-downloaded/auto-updated on every run, so this problem should hopefully go away.

[2020-12-11 09:29] Dipeshtwis commented on #275
Same error to me as well. Permission Denied.
I'm excited to see the patch for windows as well.

[2020-12-13 03:38] postmodern commented on #256
Implemented in c58ec4e547643b55606495a390506239e5b0fe77.

[2020-12-13 03:38] #256 closed

[2020-12-13 03:39] postmodern commented on #255
Implemented in f888171ea52dc990761d9c77e28b84709d8738ec.

[2020-12-13 03:39] #255 closed

[2020-12-16 11:08] asaaki commented on #260
This is not an issue with bundle-audit, but the Ruby enviroment itself:
https://github.com/rubygems/rubygems/issues/3551

Quickfix is to run `gem update --system` first:

[code]

[2020-12-17 02:58] postmodern commented on #181
@daveallie Linking my comment on scanning multiple `Gemfile.lock` in one go vs. multiple CI runs:
https://github.com/rubysec/bundler-audit/pull/224#issuecomment-747171065

[2020-12-17 23:56] postmodern commented on #239
bundler-audit updated the thor dependency to ` >= 0.18, < 2`.

[2020-12-17 23:56] #239 closed

[2020-12-17 23:59] postmodern commented on #235
This was [finally] released in 0.7.0.

[2020-12-17 23:59] #235 closed

[2020-12-18 00:03] postmodern commented on #218
#218 implements this in the 0.8.0 branch, which will soon be merged and released.

[2020-12-18 00:03] #218 closed

[2020-12-18 00:18] postmodern commented on #213
I would need a backtrace to determine the error. It may be related to bundler-audit relying on `ENV['HOME']`. I have switched to using `Gem.user_home` which can infer `HOME` if it's not set. 71ea5bd3e039355cf57699f593bcc95331e67f34

[2020-12-18 00:38] postmodern commented on #208
Fixed in 021f85f1a7daaad5e46a052e3788c552379387b6. If the `Gemfile.lock` is missing an exception will be raised, rescued in `CLI#check`, and an error message printed.

[2020-12-18 00:38] #208 closed

[2020-12-18 00:40] postmodern commented on #201
Ended up using `Gem.user_home` which can infer `HOME` if it's not set.
71ea5bd3e039355cf57699f593bcc95331e67f34

[2020-12-18 00:40] #201 closed

[2020-12-18 00:42] postmodern commented on #178
0.8.0 now supports a `--gemfile-lock` option and the command can accept a `DIR` argument.

[2020-12-18 00:42] #178 closed

[2020-12-18 00:48] postmodern commented on #169
After 0.6.1 ignored advisories are omitted from the results.

[2020-12-18 00:48] #169 closed

[2020-12-18 00:51] postmodern commented on #161
The [Bundler::Audit::CLI::Formats](https://github.com/rubysec/bundler-audit/blob/021f85f1a7daaad5e46a052e3788c552379387b6/lib/bundler/audit/cli/formats.rb#L23-L72) API has been completed in the 0.8.0 branch and will be merged/released soon.

[2020-12-18 00:51] #161 closed

[2020-12-18 00:52] postmodern commented on #160
Closing this as it's an old bundler-audit/thor bug.

[2020-12-18 00:52] #160 closed

[2020-12-18 00:55] postmodern commented on #156
Pull Requests welcomed. `git pull` does not seem to support passing in the path to the git repository, so `Dir.chdir` is necessary. A workaround to this is simply to avoid calling `Database#update!` within threads.

[2020-12-18 00:58] postmodern commented on #125
This should be fixed with the introduction of `Advisory#identifiers` in 1b28961aef0c1951c408ab3b2c0edfcc93df5bf8.

[2020-12-18 00:58] #125 closed

[2020-12-18 01:05] postmodern commented on #120
Improved in 675724fec25f6f8a1c7828ec26aab3fcb1d92a20.

[2020-12-18 01:05] #120 closed

[2020-12-18 01:06] postmodern commented on #20
The 0.8.0 branch (which will be merged/released soon) will now auto-download/auto-update the ruby-advisory-db on each run; unless `--no-update` is given.

[2020-12-18 01:06] #20 closed

[2020-12-18 01:07] #259 closed

[2020-12-18 03:56] postmodern opened #276 "Add missing specs for Database#git?"

[2020-12-18 03:57] postmodern opened #277 "Add missing specs for Database#update!"

[2020-12-18 03:57] postmodern opened #278 "Add missing specs for Database#last_updated_at"

[2020-12-18 06:39] postmodern opened #279 "Add missing specs for Database#advisories_for"

[2020-12-18 09:52] postmodern commented on #279
Implemented in 0990a1d4a9d5afc727a7e56dc2456f19473782ca.

[2020-12-18 09:52] #279 closed

[2020-12-18 09:55] postmodern opened #280 "Add missing specs for Database.exists?"

[2020-12-18 09:56] postmodern opened #281 "Add missing specs for Database.download"

[2020-12-18 10:04] postmodern commented on #280
Implemented in cf39072cfc2f64fe9d8a0b1a914e08f8a9b7d9ff.

[2020-12-18 10:04] #280 closed

[2020-12-21 02:41] postmodern commented on #281
Implemented in f9188275269ba77b8e34acb5d06a0163061b0468.

[2020-12-21 02:41] #281 closed

[2020-12-21 03:04] postmodern commented on #277
Implemented in ff55a734a8703ef20e6e0ce3097a3087e3892901.

[2020-12-21 03:04] #277 closed

[2020-12-21 03:04] postmodern commented on #276
Implemented in 3f82ac88c85fedf2f2cee0a270713274359862cf.

[2020-12-21 03:04] #276 closed

[2020-12-21 03:08] postmodern commented on #278
Implemented in de99ddd9f4b9f2f55c34710198325a1ded39716e.

[2020-12-21 03:08] #278 closed

[2020-12-23 02:31] postmodern commented on #259
bundler-audit 0.8.0.rc1 has been released! Please test and provide any QA feedback.

    $ gem install --pre bundler-audit

[2020-12-23 02:31] postmodern commented on #218
bundler-audit 0.8.0.rc1 has been released! Please test and provide any QA feedback.

    $ gem install --pre bundler-audit

[2020-12-23 02:31] postmodern commented on #178
bundler-audit 0.8.0.rc1 has been released! Please test and provide any QA feedback.

    $ gem install --pre bundler-audit

[2020-12-23 02:32] postmodern commented on #161
bundler-audit 0.8.0.rc1 has been released! Please test and provide any QA feedback.

    $ gem install --pre bundler-audit

[2020-12-23 02:32] postmodern commented on #20
bundler-audit 0.8.0.rc1 has been released! Please test and provide any QA feedback.

    $ gem install --pre bundler-audit

[2020-12-23 02:44] postmodern commented on #197
bundler-audit 0.8.0.rc1 has been released, and includes a new extendable [Formats API](https://github.com/rubysec/bundler-audit/blob/master/lib/bundler/audit/cli/formats.rb). It should now be possible to write 3rd party formats that are loaded via `require`.

[2020-12-23 05:45] postmodern opened #282 "Load configuration from .bundle/audit.yml instead of .bundler-audit.yml"
Following #218, it might be better to store configuration within the `.bundle/` directory.

[2020-12-27 11:08] postmodern commented on #282
According to the bundler plugin API team `.bundle/` is not safe and can be wiped.

[2020-12-27 11:08] #282 closed

[2021-01-12 16:05] spbever opened #285 "Errors when running with an empty config yml file"
Created .bundler-audit.yml to add configurations but had not yet done so
Ran `bundle-audit check`
error:
NoMethodError: undefined method `root' for false:FalseClass
            load at Rubies/jruby-9.2.5.0/lib/ruby/gems/shared/gems/bundler-audit-0.8.0.rc1/lib/bundler/audit/configuration.rb:55
      initialize at Rubies/jruby-9.2.5.0/lib/ruby/gems/shared/gems/bundler-audit-0.8.0.rc1/lib/bundler/aud

[2021-01-22 20:12] ericpetroelje opened #286 "No longer compatible with Ruby 2.0.0 after v0.6.1"
I'm trying to use bundler-audit (0.7.01) on an ancient 2.0.0 ruby project right now and getting a failure due to scanner.rb trying to call the intersect? method on a Set around line 153.  The intersect? method does not appear to exist in Ruby 2.0.0.  I'm not sure what version it was added, but the README.md file should probably be updated to reflect that a newer version of Ruby is required to use

[2021-01-27 21:27] postmodern opened #287 "Fix specs due to new thor 1.1.0"
Specs suddenly began failing after thor 1.1.0 was released. Likely thor's new internal behavior is breaking our `expect().to receive()` stubs that we use to populate CLI's `options`.

[2021-01-27 21:54] #285 closed

[2021-01-27 22:29] itay-grudev opened #288 "Passing parameters to bundler-audit isn't working"
When passing any parameters to `bundler-audit` I get an error of the type:

[code]
Bundler audit version: `bundle-audit 0.7.0.1 (advisories: 479)`
Ruby version: `ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux-gnu]`

[2021-01-28 19:35] postmodern commented on #288
You want the `--gemfile-lock` option, which was added in 0.8.0.rc1. Run `gem install --pre bundler-audit`.

[2021-01-28 19:35] #288 closed

[2021-01-30 01:27] postmodern commented on #287
It also appears that Thor now disables _all_ output if `--quiet` is specified. To get around this, we'll want to use `error` to output error messages. Although, `error` doesn't seem to support ANSI color output or highlight it's output as red by default.

[2021-02-03 16:09] MoCrispy commented on #275
This error still exists. Is there a patch or workaround for Windows yet?

[2021-02-10 01:28] postmodern commented on #275
The `libraries/rubygems` symlink has now been removed from ruby-advisory-db.
https://github.com/rubysec/ruby-advisory-db/commit/ba981f34ba00a6d49bd690da05f335cff506835f

[2021-02-12 09:47] mikesaelim opened #289 "v0.8.0.rc1 does not print GHSA IDs for vulnerabilities with no other identifiers"
I was looking at the [changes between v0.7.0.1 and v0.8.0.rc1](https://github.com/rubysec/bundler-audit/compare/v0.7.0.1...v0.8.0.rc1?diff=split), to prepare the [ruby_audit gem](https://github.com/civisanalytics/ruby_audit) to be compatible with your upcoming release (we love your work, by the way), and I think that the `Bundler::Audit::CLI::Formats::Text` class lost some of the changes introduce

[2021-02-12 20:25] natebird opened #290 "Error running bundler-audit"
**Versions**
Ruby: 2.7.2
gem version: 0.7.0.1

I receive the following error when running bundler-audit:

[code]

Any ideas about what would cause this? I've read about Ruby opening more than 1024 sockets can cause this. Our CI server doesn't have any issues running `bundler-audit` but I can't run it on my development machine.

[2021-02-13 19:14] postmodern commented on #289
Good catch. I could add an `Advisory#identifier` method that returns the first available identifier (`cve_id` vs `ghsa_id` vs `osvdb_id` (legacy)), or we could use the `Advisory#id` which is derived from the advisory file-name (sans the `.yml` ext).

[2021-02-13 19:17] postmodern commented on #290
Googling `Errno::ENOBUFS` says that it's related to when your system or VM is running out of memory.

[2021-02-14 18:19] mikesaelim commented on #289
Either sounds good to me.  Thanks for looking into this issue!

[2021-02-20 01:46] #289 closed

[2021-02-22 20:47] billyabm commented on #260
You have to set `BUNDLE_PATH`,  check the bundle [documentation](https://bundler.io/v0.9/bundle_install.html)

[2021-02-25 00:29] natebird commented on #290
Yeah, I've Googled it and found the same. What is odd is this is a 32 GB MacBook Pro. I don't think I'm out of memory. I get the same after reboots and on another machine with 16GB RAM. It seems to be specific to my configuration. I'll keep researching.

Oh, and sorry for the slow response. I was off the grid for a while.

[2021-02-25 16:42] ghbren opened #292 "Is it possible to scan against a local ruby advisory db?"
Is it possible for bundle audit to scan against a local ruby advisory db?

[2021-02-27 04:21] postmodern commented on #292
Yes, see `bundler-audit help check`. In particularly you probably want `--no-update` or `--database DIR`.

[2021-02-27 04:21] #292 closed

[2021-02-27 04:26] postmodern commented on #287
Fixed in 2eea92707af22639cde2ef677af851fc71ce6699 and 2488b18380ba66075203215182e971dbab954f03.

[2021-02-27 04:26] #287 closed

[2021-02-27 04:34] #275 closed

[2021-02-27 04:41] postmodern commented on #197
If anyone wants bundler-audit to officially support HTML output, all that I request is:

* It must be either use heredoc or ERB. No extra dependencies on Nokogiri, HTML helpers, etc.
* It must output static HTML and CSS. No JavaScript.
* Vanilla CSS. No SASS, SCSS, or CSS frameworks that require `npm` or `yarn`, etc.
* Embedded images are OK. (I prefer embedded SVGs.)

Also, we could use Thor's bu

[2021-02-27 22:54] postmodern commented on #61
Closing this now that bundler-audit 0.8.0.rc1 and 0.8.0.rc2 have been released. 0.8.0 will be released soon.

[2021-02-27 22:54] #61 closed

[2021-02-27 23:04] postmodern commented on #193
This appears to be fixed in newer versions of ruby / rubygems. The last line of `2.0.0-alpha` now parses as `Gem::Requirement.new(["= 2.0.0.pre.alpha"])`. Tested on ruby 2.7.2, rubygems 3.1.4, and bundler 2.2.0.

[2021-02-27 23:04] #193 closed

[2021-03-01 16:24] bbugh commented on #183
I have noticed that this happens when using git worktrees and not being in the primary source directory. For example, I have a `master` folder which is the original repository, and a `develop` folder that is a worktree of `master`. If I run the audit in the `develop` directory, it appears to try to update the `master` folder instead of the `ruby-advisory-db` itself.

[2021-03-11 23:42] MrJoy opened #294 "Add support for Thor 1.1.0."
Pinning to `~> 1.0` prevents using the 1.1.0 release that came out in January -- which adds support for Ruby 3.0.  Is there a breaking change in 1.1.0 that presents a problem?

[2021-03-12 02:44] postmodern commented on #294
The `~> X.Y` version constraint is an alias for `>= X.Y.0, < X+1.0.0` https://thoughtbot.com/blog/rubys-pessimistic-operator

[code]

Also Ruby 3 is already included in the CI.

[2021-03-12 02:44] #294 closed

[2021-03-12 02:47] postmodern commented on #197
Now that bundler-audit 0.8.0 has finally been released, work can start on HTML output using the new [Bundler::Audit::CLI::Formats](https://github.com/rubysec/bundler-audit/blob/9def635f9db5c7d9ecde7aa85cabdf316bbf8371/lib/bundler/audit/cli/formats/text.rb#L20-L34) API.

[2021-03-12 07:58] postmodern commented on #286
bundler-audit 0.8.0 was updated to specify `>= 2.0.0` but it is true we only test back to ruby 2.4. We could bump the requirement to `>= 2.4.0`. Also, you could try running bundler-audit under a newer ruby version that's separate from the project's ruby version or `Gemfile`.

[2021-03-13 17:28] MrJoy commented on #294
Ah, my mistake.  I was having trouble updating the gem and thought it was `thor` creating the conflict, but it turned out to be `ruby_audit`.  Sorry!

[2021-04-23 10:44] oliverklee opened #297 "Error "Unknown format" with version 0.8.0"
This happens with our project https://github.com/braingourmets/crud/ with Ruby 3.0.1.

With bundler-audit 0.8.0, I get the following error message (note: we're running everything in a container using dip):

[code]
(You can also see the complete build here: https://github.com/braingourmets/crud/pull/162/checks?check_run_id=2418852764)

With version 0.7.0.1, the problem does not occur, and the outpu

[2021-04-26 06:50] postmodern commented on #297
How did you invoke `bundle-audit`?

[2021-04-26 08:12] oliverklee commented on #297
We're running it in a [Rake task](https://github.com/braingourmets/crud/blob/main/lib/tasks/bundler_audit.rake) and call the Bundler Audit task from that:

[code]

[2021-04-26 16:13] postmodern commented on #297
While I cannot reproduce this with a simple Gemfile, Rakefile, and bundler-audit-0.8.0, what appears to be happening is that even though the `format` option has a `default` value of `"test"`, it's being set to `nil` or possibly `""` (https://github.com/rubysec/bundler-audit/blob/a6f7e4644c997ef14f47ecb1be0000647d684f8e/lib/bundler/audit/cli.rb#L39-L53). That would explain the `Unknown format:` err

[2021-04-26 16:15] postmodern commented on #297
It also appears that you got the Static Analysis job passing again? https://github.com/braingourmets/crud/actions

[2021-04-26 16:34] oliverklee commented on #297
Ah, yes, because we pinned bundler-audit to `~>0.7.0.1`: https://github.com/braingourmets/crud/commit/9e8ae1eead7528ffbe9ca0dc0610d94f64eefcd8 :-)

[2021-04-28 19:35] postmodern commented on #297
OK, I see your problem. In your [bundler-audit rake task](https://github.com/braingourmets/crud/blob/9e8ae1eead7528ffbe9ca0dc0610d94f64eefcd8/lib/tasks/bundler_audit.rake#L13) you are explicitly initializing the `Bundler::Audit::CLI` class (which is a Thor app) and calling the method. Thor is kind of weird and not very well designed, so calling `.new` will not initialize method options which have

[2021-04-30 12:21] oliverklee commented on #297
Done: #298

(I'm not sure about whether this is the right way to do this, though. I'll be grateful for feedback.)

[2021-04-30 12:21] #297 closed

[2021-04-30 14:40] oliverklee commented on #297
@postmodern Thanks for looking into this! We have now updated our Rake tasks accordingly and could successfully update to version 0.8.0. :heart:

[2021-05-01 11:37] lucasluitjes commented on #229
A few years back I wrote https://github.com/lucasluitjes/recent_ruby which does exactly that. I don't know if it meets the project standards for bundler-audit but I thought I'd mention it just in case it's helpful.

[2021-05-14 14:49] poloka opened #302 "Release of psych-4.0.0 breaks library with Date DisallowedClass"
Upon release of psych-4.0.0, receiving the following error from bundler-audit
[code]

stack trace
[code]

[2021-05-14 15:18] poloka commented on #302
Logged an issue to psych as well in case this is resolved by a change with their library.  This issue will need to remain in case there is a needed change to the date format.
https://github.com/ruby/psych/issues/489

[2021-05-18 01:08] G-Rath opened #303 "Support specifying path to config file"
It'd be nice to have a cli flag to allow pointing `bundler-audit` to an arbitrary config file, i.e

[code]

My use-case for this is that we have a central project auditor that runs against all of our projects and audits them with compatible tools (i.e if there's a `package-lock.json` it does `npm audit`, if there's a Gemfile it does `bundle-audit`, if there's a `requirements.txt` it does `safety`,

[2021-05-22 14:31] mvz commented on #302
I think this is fixed by a6f7e4644c997ef14f47ecb1be0000647d684f8e.

[2021-05-25 00:26] postmodern commented on #303
A `--config-file` option sounds like a generally good feature idea. Currently, there is no `--no-ignore` or `--no-config-file` options for disabling any ignored advisory IDs from the config file. The current behavior is that if `--ignore` is specified, the explicit ignores will override the config file's ignores listed, instead of unioning the two ignore lists together.

[2021-05-25 20:32] abaldwin88 commented on #183
Deleting the advisory database worked for me. In case you're wondering where that database is located like I was, you can pop open `irb` and enter the following:

[code]

Taken from:
https://github.com/rubysec/bundler-audit/blob/master/lib/bundler/audit/database.rb#L41

[2021-05-25 21:15] postmodern commented on #183
@bbugh [Database#update](https://github.com/rubysec/bundler-audit/blob/5514c6d87b0f05558515a4d215293fbae9b3849c/lib/bundler/audit/database.rb#L201-L211) always ran the `git pull` command within a `Dir.chdir` block. However, the [Database.download](https://github.com/rubysec/bundler-audit/blob/5514c6d87b0f05558515a4d215293fbae9b3849c/lib/bundler/audit/database.rb#L122-L124) method runs `git pull` w

[2021-05-28 23:37] reedloden opened #307 "Support scanning .gemspec files"
I noticed that GitHub's Dependabot checks .gemspec files, as well as Gemfile.lock. We should do the same, as it would let bundler-audit monitor gems directly.

They also check other files as well, so may also want to add that.

See https://github.com/dependabot/dependabot-core/tree/main/bundler/lib/dependabot/bundler for how they do it.

[2021-05-28 23:41] #175 closed

[2021-05-28 23:43] reedloden commented on #185
OSVDB IDs are no more, and the bug that was causing the prefix to be left out has been fixed.

[2021-05-28 23:43] #185 closed

[2021-05-28 23:44] reedloden commented on #213
Closing due to lack of response.

[2021-05-28 23:44] #213 closed

[2021-05-29 01:12] postmodern commented on #307
I believe bundler already includes any dependencies from the `.gemspec` into `Gemfile.lock`, if the `Gemfile` contains `gemspec`.

[2021-05-29 18:53] postmodern commented on #307
It might be useful for indicating to the user that they need to change the version range in the `.gemspec` vs just running `bundle update`, but that would require some clever to logic to detect overly strict version ranges in the `.gemspec` vs. the `Gemfile.lock`.

[2021-06-03 06:32] rslhdyt opened #308 "Criticality information on json output"
I noticed the information of criticality on JSON output is missing, but when I generate the output to text the criticality info is present.

Am I missing something options or configuration?

[code]

[2021-06-03 18:36] postmodern commented on #308
That is because the JSON output is derived from `Advisory#to_h` which is inherited from Struct and only outputs Struct fields by default. We'd need to override `Advisory#to_h` and include `Advisory#criticality`  in the output.

[2021-06-04 10:38] rslhdyt commented on #308
@postmodern I will try to submit a PR for that.

[2021-06-04 20:20] G-Rath commented on #303
@postmodern glad you think so! I've got a PR open implementing this - let me know if you'd like any changes made :)

[2021-06-04 23:22] postmodern opened #309 "Add a Security Policy"
Add a `SECURITY.md` file explaining how to report vulnerabilities in bundler-audit.

* Which email address should they be sent to? (rubysec's mailing list or my email addres?)
* Which PGP key, if any, should be used to encrypt emails? (I can volunteer my PGP pubkey)

[2021-06-06 21:56] reedloden commented on #309
I'm a bit biased here due to it being my employer (and the fact that I manage this particular offering), but HackerOne offers a [completely free version](https://www.hackerone.com/company/open-source-community) for open source projects. Might I suggest that as an alternative to email and PGP? Ruby, Rails, and RubyGems all use it already, just as examples.

[2021-06-13 23:00] G-Rath opened #311 "Error when an ignored CVE is missing"
`bundler-audit` doesn't track if it actually ignored an unpatched gem due to an ignore - it would be good if it did, and so errored if it was asked to ignore a CVE that doesn't affect any of the scanned gems.

This is useful because it makes it more visible when a previously-ignored vulnerability is patched, and reduced the risks of a vulnerability being reintroduced unknowingly due to outdated ig

[2021-06-14 00:53] #303 closed

[2021-06-14 00:54] postmodern commented on #303
Merged #306. Had to rebase and squash.

[2021-06-14 08:19] #308 closed

[2021-06-20 19:48] postmodern commented on #311
I don't think we should change the meaning of exiting with an error. Exiting with an error should always indicate something bad. Maybe we could instead print the ignored advisories in a different colors (or no color) with `[IGNORED]` text next to above them to indicate they are still there, just ignored. Maybe add a `--show-ignored` option for those who want to see the ignored advisories?

[2021-06-20 19:58] G-Rath commented on #311
But that's one of the reasons why we have error codes, to allow signaling specific reasons for exiting - for example `npm audit` will set its exit code as non-zero if any vulnerabilities are found; `yarn audit` takes this a set further, setting the exit code as a bitmask based on the range of severities found (1 for INFO, 2 for LOW, etc; so e.g. if only INFO and MODERATE vulnerabilities were found

[2021-06-29 03:05] G-Rath commented on #303
Just to follow up: while that might be true, you can't pass an empty ignore (i.e `--ignore` by itself results in `No value provided for option '--ignore'`) - imo the best way to support this would be with a `--no-config`, but it seems that Thor currently doesn't support that natively.

I've left a comment on https://github.com/rails/thor/pull/733 which I think would be the pathway to supporting th

[2021-06-30 07:52] ksenia-sudarikova opened #312 "bundler audit confuse loofah gem version 2.10.0 with 2.1"
I have loofah 2.10.0 in my Gemfile.lock and audit reports warning
[code]

I believe its confuses 2.10.0 with 2.1 gem version vulnerable to CVE-2018-8048

[2021-06-30 10:30] postmodern commented on #312
What version of Ruby, RubyGems, and bundler-audit are you using? I can't reproduce this locally with a simple `Gemfile` containing `gem 'bundler-audit', '0.8.0'` and `gem 'loofah', '2.10.0'` on ruby 3.0.1p64 and rubygems 3.2.15.

[2021-06-30 10:53] ksenia-sudarikova commented on #312
Ruby 2.5.3p105, RubyGems 2.7.7, bundler-audit 0.8.0

[2021-07-01 21:21] alec-c4 commented on #302
hey, any news with this issue?

[2021-07-01 23:55] postmodern commented on #312
Still can't reproduce on Ruby 2.5.9 and 2.7.6.3. I'm going to guess this is a bug in an older RubyGems. Maybe try updating to Ruby 2.5.9 (although the 2.5 series is no longer maintained) or RubyGems (`gem update --system`).

[2021-07-02 00:32] FunnyHector commented on #312
@ksenia-sudarikova  Could youd double check if your warning message was from brakeman or bundle-audit? Your warning message looks like from brakeman.

Brakeman had such issue (https://github.com/presidentbeef/brakeman/issues/1603). The newest version should have fixed it.

[2021-07-02 10:38] ksenia-sudarikova commented on #312
You right, I mix up bundler-audit message with brakeman, thanks for clarification

[2021-07-02 10:38] #312 closed

[2021-08-03 10:34] gadimbaylisahil opened #316 "Ignoring insecure dependecy without an Advisory"
Ignore this ticket. Solved by ignoring GHSA

[2021-08-03 10:38] gadimbaylisahil commented on #316
What is your thoughts on adding a feature to ignore the `dependency` itself, so that it ignores all associated vulnerabilities with the given gem?

[2021-08-03 10:49] #316 closed

[2021-08-03 14:11] postmodern commented on #316
That looks like output from an older version of bundler-audit. Try upgrading to 0.8.0, which should print the CVE and/or GHSA ID instead of a blank `Advisory: `.

[2021-08-08 14:00] lopopolo opened #317 "Deprecation warning emitted from Thor"
## Description

`bundler-audit` emits a deprecation warning from Thor if given invalid extra arguments.

## Steps To Reproduce

Steps to reproduce the bug:

[code]

## Expected Behavior

`bundler-audit` does not emit deprecation warnings from its dependencies.

## Actual Behavior

[code]

## Environment

[code]

[2021-08-09 03:33] #317 closed

[2021-08-10 08:26] gadimbaylisahil commented on #316
Thanks!

[2021-08-19 00:44] dmolesUC commented on #302
I'm [getting this in CI ](https://travis-ci.com/github/BerkeleyLibrary/logging/jobs/532458603)when I try to run bundler-audit on `ruby-head` (3.1.0dev). Ruby 3 stable (3.0.2) [doesn't have the problem](https://travis-ci.com/github/BerkeleyLibrary/logging/jobs/532458602). I'm not seeing Psych anywhere in my `Gemfile.lock`, so I assume it's part of the Ruby installation.

The Psych folks [rejected](

[2021-08-19 01:14] postmodern commented on #302
@dmolesUC could you try testing against bundler-audit from git? I suspect a6f7e4644c997ef14f47ecb1be0000647d684f8e might fix this as it explicitly allows loading `Date` objects.

[2021-08-19 01:27] postmodern commented on #302
Just updated the usage of `YAML.safe_load` to use the `permitted_classes: ` keyword in 20e6b81272b1fcc5a6bc7371e10620343f9f49ee. It appears that in Psych 4.0.0 they finally [removed the `legacy_permitted_classes` positional argument](https://github.com/ruby/psych/blob/v4.0.0/lib/psych.rb#L322).

[2021-08-31 04:13] postmodern opened #318 "Release 0.9.0"
Release it!

[2021-08-31 14:47] postmodern commented on #302
Due to my tests bundling psych 4.x, the 20e6b81272b1fcc5a6bc7371e10620343f9f49ee commit fixes this. Marking as closed and will be released in 0.9.0 today.

[2021-08-31 14:47] #302 closed

[2021-08-31 15:51] postmodern commented on #318
Done.

[2021-08-31 15:51] #318 closed

[2021-08-31 15:51] postmodern commented on #317
Fixed in 0.9.0.

[2021-08-31 15:52] postmodern commented on #302
bundler-audit-0.9.0 has been pushed to rubygems.org.

[2021-08-31 17:26] vassilevsky opened #319 "0.9.0 fails on Ruby 2.5"
Hi :)

Not sure if Ruby 2.5 is in your supported version range.

If it's not, feel free to close this. I know I should upgrade.

If it is, then here's the error:

[code]

It would be cool to be able to run on 2.5 :)

[2021-08-31 17:54] ericpetroelje commented on #319
Having a similar, but slightly different error with Ruby 2.3:
[code]

[2021-08-31 19:36] postmodern commented on #319
I wasn't aware so many people were still using older Ruby versions. Note that Ruby 2.5 was [EoLed back in March of this year and Ruby 2.3 EoLed back in 2019!](https://www.ruby-lang.org/en/downloads/branches/). Ruby 2.5 and 2.3 are no longer receiving any security patches.

I pushed an ugly workaround to detect Psych < 3.1.0 and use the old calling convention (`YAML.safe_load(data, [Data])`). 8a3a1

[2021-08-31 19:41] postmodern commented on #319
GitHub Actions confirmed the fix works on Ruby 2.5. https://github.com/rubysec/bundler-audit/runs/3476950230?check_suite_focus=true

[2021-08-31 19:52] vassilevsky commented on #319
Many thanks! Yes, I know I should upgrade Ruby :)

[2021-08-31 20:02] postmodern commented on #319
bundler-audit 0.9.0.1 released! I was able to test against ruby-2.5.9 and confirmed it works, but I wasn't even able to compile ruby-2.3.8 due to openssl compiler errors. If you're still using ruby-2.3.x, seriously consider upgrading to 2.5.x or 2.6.x.

[2021-08-31 20:02] #319 closed

[2021-10-13 08:39] #73 closed, assigned to nobody

[2021-10-13 08:40] #50 closed, assigned to postmodern

[2022-01-01 16:50] fatkodima commented on #229
@postmodern @reedloden Before I will invest some time into this feature, is this something that will be merged?

[2022-01-06 04:52] berney opened #322 "Unknown format: json"
## Description

Cannot produce JSON results.

## Steps To Reproduce

Steps to reproduce the bug:

`bundle-audit check --format json`

## Expected Behavior

From the README.md:

Output the audit's results in JSON:

$ bundle-audit check --format json
Output the audit's results in JSON, to a file:

$ bundle-audit check --format json --output bundle-audit.json

## Actual Behavior

[code]

## Environme

[2022-01-06 04:53] berney commented on #322
Fixed with `gem install json` fixed it.

[2022-01-06 04:53] #322 closed

[2022-02-07 17:20] svoop opened #325 "gems.rb and gems.locked"
It would be great if this useful gem supported the alternative gemfile names as well:

* `gems.rb` (alternative for `Gemfile`)
* `gems.locked` (alternative for `Gemfile.lock`)

These [alternative names were introduced in 2017](https://depfu.com/blog/2017/09/06/gemfiles-new-clothes).

[2022-02-08 19:09] svoop commented on #325
I've just seen [there's an aging PR](https://github.com/rubysec/bundler-audit/pull/110) on this. It may not be the Holy Grail, but given Bundler has a major deprecation warning for the old `Gemfile.lock` in place for years already, would you consider merging it anyways, @postmodern ? Thanks for considering this!

[2022-02-08 21:53] postmodern commented on #325
I haven't seen any deprecation warnings yet and there isn't any immediate plans to remove `Gemfile.lock` support. However, I will try to add support for detecting `gems.locked` over `Gemfile.lock`.

[2022-02-08 22:09] postmodern opened #326 "Add missing specs for `Scanner#initialize`"

[2022-02-09 08:45] svoop commented on #325
I wrote that in a kinda misleading way: Bundler is not deprecating `Gemfile` (and my guess: it never will), but a "major deprecations" method prints a warning which suggests that `gems.rb` is the recommended naming now... or rather since April 2019:

https://github.com/rubygems/rubygems/blob/a9e305432955f56b847881187a7e01a97b6901e3/bundler/lib/bundler/shared_helpers.rb#L144

The advantage of `gems

[2022-02-09 18:33] postmodern commented on #325
I did some tests and discovered that bundler 2.3.6 would prefer `Gemfile.lock` over `gems.locked`, if they both exist.

[2022-02-09 18:42] svoop commented on #325
Weird, another inconsistency of Bundler since the warning suggests otherwise. Never mind, having both is bad to begin with.

[2022-02-15 20:46] tilo opened #328 "Incorrectly flagged vulnerabilities with 4-digit version numbers"
## Description

Codeclimate runs bundler-audit to check for vulnerabilities
and I noticed that it incorrectly flags vulnerabilities.

e.g. when upgrading Rails from 6.0.4 to 6.0.4.6

these two vulnerabilities get flagged, although they already have the fix from 6.0.3.5 applied:

https://discuss.rubyonrails.org/t/cve-2021-22880-possible-dos-vulnerability-in-active-record-postgresql-adapter/77129
ht

[2022-02-15 22:02] postmodern commented on #328
I cannot seem to reproduce this bug using the latest version of `bundler-audit` and [ruby-advisory-db](https://github.com/rubysec/ruby-advisory-db).

### Vulnerable Gemfile

[code]

[code]

### Secure Gemfile

[code]

[code]

Could you post the `Gemfile.lock` or `Gemfile` and which specific CVEs that `bundler-audit` is detecting?

[2022-03-30 15:04] udaykadaboina opened #332 "Status codes for different status messages"
I am planning to have bundler-audit in my CI and would like to stop/fail the build if there are any vulnerabilities found in my existing gems in Gemfile. So, instead of using regex/string match for "Vulnerabilities found!" etc. it would be good to have status codes for different messages.

I don't know if we have something like this in the roadmap or I can chime into it with some guidance.

[2022-03-31 02:27] postmodern commented on #332
`bundler-audit` already exits with status code 1 if any vulnerabilities are found, which should cause any CI test suite to fail once any of the commands fail. `bundler-audit` also exits with 1 if any other errors occur (ex: `No such file or directory:` or `Unknown format:`), so maybe I should assign separate error codes for those errors.

[2022-04-05 16:53] komidore64 commented on #332
I'd be satisfied with meaningful non-zero exit statuses, or flags similar to brakeman's `--no-exit-on-warn` and `--no-exit-on-error` which allow you to suppress exit codes for CI purposes. Thanks!

[2022-04-05 23:26] postmodern commented on #332
Going to close this since I answered OP's question.

However, @komidore64 could you explain how those codes would work? bundler-audit does not "warn", it only indicates that issue(s) were found or no issues were found. If an advisory is explicitly ignored then it is omitted from the report output and will cause bundler-audit to exit successfully. I am assuming `--no-exit-on-error` would suppress a

[2022-04-05 23:26] #332 closed

[2022-04-06 07:09] dssjoblom opened #333 "Can't update ruby-advisory-db"
## Description

There seems to be a problem with updating ruby-advisory-db.

## Steps To Reproduce

Run `bundle exec bundle-audit check --update`

## Expected Behavior

It should do what it normally does. The same command worked yesterday (5.4.2022) FWIW.

## Actual Behavior

[code]

## Environment

    $ bundler-audit --version
    bundler-audit 0.9.0.1
    $ bundle --version
    Bundler version

[2022-04-06 10:54] postmodern commented on #333
Could you run `git status` and `git diff` within `~/.local/share/ruby-advisory-db/` to see what exactly changed? No other code should write to that directory other than `git`. Not sure why that file would have changed.

[2022-04-06 15:00] komidore64 commented on #332
Mentioning brakeman's flags may have caused more confusion than necessary since bundle-audit doesn't exactly have "warnings" like you described. I apologize.

I would like a flag that I can pass to `bundle-audit` to suppress non-zero exits even if issues/vulnerabilities are discovered.

I feel I may be high-jacking this issue. I would be happy to open a new issue if this is something you're intere

[2022-04-06 21:39] postmodern commented on #332
Luckily, bash already supports that: `bundler-audit ... || true`

[2022-04-06 23:01] komidore64 commented on #332
That's not the same thing. `bundle-audit ... || true` suppresses **any and all** non-zero exits from `bundle-audit`. I just want `> 0` vulnerabilities found to exit as zero, signifying to CI that `bundle-audit` completed successfully. I still want all other errors to trigger as normal.

[2022-04-07 00:14] postmodern commented on #332
@komidore64 I'm curious how you would identify that bundler-audit found errors if it returns 0? I'm guessing you use a regex on the full CI output?

[2022-04-07 07:26] dssjoblom commented on #333
@postmodern not anymore, unfortunately, as the workaround I found was deleting the directory so that the repository is checked out again. I did try `git reset --hard 1b91d1f46534973a5c036725c5f597adcc99e31c` and then `bundle exec bundle-audit check --update` again, but this time it works. While I don't know why this error occurred, is it possible that it is because the command was interrupted/kill

[2022-04-07 08:32] postmodern commented on #333
I'm curious if you were using git worktrees and somehow changes got into `~/.local/share/ruby-advisory-db/`: https://github.com/rubysec/bundler-audit/issues/183#issuecomment-788080960

[2022-04-07 08:58] dssjoblom commented on #333
@postmodern No, no worktrees. However, as additional info, I usually run the audit in a commit hook from Overcommit (https://github.com/sds/overcommit). I'm not completely familiar with how Overcommit works under the hood, but it does some magic on the current git repository with git stash and maybe something else as well. Could be related (?).

[2022-04-07 12:36] komidore64 commented on #332
I can tell if bundler-audit discovered vulnerabilities by parsing its JSON output.

[2022-04-07 23:01] postmodern commented on #332
AH HA! In that case we could suppress the exit status code when writing the report output to a file?

[2022-04-08 00:02] komidore64 commented on #332
I'm reading the JSON from stdout, but it wouldn't be much work for me to write it to a file instead.

[2022-04-13 03:34] postmodern opened #337 "Add an ISSUES template for new features"
Add an ISSUES template for requesting new features.

[2022-04-13 03:35] postmodern opened #338 "Add different exit codes for different errors"
Different errors should exit with different error codes besides `1` or `-1`.

[2022-05-19 19:09] postmodern opened #345 "`Bundler::Audit::Task` does not fail when vulnerabilities are found"
## Description

The `Bundler::Audit::Task` does not fail if vulnerabilities are found. Add `exit $?.exitstatus || 1` to mimic how the [rspec rake task works](https://github.com/rspec/rspec-core/blob/bc9bb2da423b2cf6b7e53f1307c3ef2d24fceb7b/lib/rspec/core/rake_task.rb#L104).

## Steps To Reproduce

Steps to reproduce the bug:
1. `bundle exec rake bundler:audit`
2. `echo $?`

## Expected Behavior

E

[2022-05-19 19:30] postmodern commented on #345
Fixed build in 0b2a28cca36ca8e02a31d9d007f7df02cc380189.

[2022-05-19 19:30] #345 closed

[2022-05-19 19:35] postmodern commented on #345
Also tested locally with a known vulnerable bundle. Now exits with status code `1`.

[2022-05-19 19:56] #337 closed

[2022-05-19 19:57] #290 closed

[2022-05-20 03:03] postmodern commented on #345
[bundler-audit 0.9.1](https://rubygems.org/gems/bundler-audit/versions/0.9.1) has been released. See the [ChangeLog](https://github.com/rubysec/bundler-audit/blob/master/ChangeLog.md#091--2022-05-19) for a short summary of the bug.

[2022-07-13 05:21] nello opened #352 "Can no longer be called programatically"
Attempting to use as per this (2015) documentation: http://caseywest.com/run-bundle-audit-from-rake/

Now calling `Bundler::Audit::CLI.new.check` fails to report anything, but just says "Unknown format:".

It looks like somewhere along the line, default formatting has stopped working. Is there any way to do this now?

[2022-07-13 06:00] postmodern commented on #352
That error is likely due to how Thor (which `Bundler::Audit::CLI` uses) doesn't initialize default values for options when you directly initialize the Thor sub-class object.

There is now a rake task you can use directly in the `Rakefile`.

[code]

[2022-07-13 06:00] #352 closed

[2022-07-13 06:02] nello commented on #352
The rake task just calls system('...'). Are you saying there is now no way to invoke the application programatically directly?

[2022-07-13 06:16] postmodern commented on #352
I did not say that. If you want to invoke `bundle-audit` programmatically (which is not recommended, because it is a CLI util, _not_ a library), then see the [API documentation](https://rubydoc.info/gems/bundler-audit). It is not recommended to directly invoke `Bundler::Audit::CLI` as it is a [Thor](https://rubydoc.info/gems/thor/Thor) app, and cannot simply be `initialized` with `.new`. If you ne

[2022-07-13 06:30] postmodern commented on #352
btw the way you are supposed to invoke Thor apps directly is via the [`.start(["arg1", ...])`](http://whatisthor.com/) method, if that helps. The `.start` method does additional initialization beyond what `.new` does.

[2022-07-13 06:31] nello commented on #352
Thanks

[2022-09-26 16:45] sandstrom commented on #286
I'm doing some issue gardening 🌱🌿 🌷 and came upon this issue. Since it's quite old I just wanted to ask if this is still relevant? If it isn't, maybe we can close this issue?

By closing some old issues we reduce the list of open issues to a more manageable set.

[2022-09-26 16:46] sandstrom commented on #260
I'm doing some issue gardening 🌱🌿 🌷 and came upon this issue. Since it's quite old I just wanted to ask if this is still relevant? If it isn't, maybe we can close this issue?

By closing some old issues we reduce the list of open issues to a more manageable set.

[2022-09-26 16:47] sandstrom opened #355 "Release 1.0"
This is an awesome and mature project! 🏅 Maybe we should signal that, by releasing 1.0?

[2022-09-26 19:27] postmodern commented on #286
Probably not. Ruby has a rolling release model so there's only so much we can do to continue to support older versions. Eventually users must upgrade.

[2022-09-26 19:27] #286 closed

[2022-09-26 19:29] postmodern commented on #260
Closing as this was an old upstream issue.

[2022-09-26 19:29] #260 closed

[2022-10-21 12:17] postmodern opened #361 "No longer set `test_files` in the gemspec"
Rubocop complains about `gemspec.test_files` plus the test-files contain insecure `Gemfile.lock` files which can sometimes trigger _other_ vulnerability scanners when they scan bundler-audit.

[2022-11-01 11:06] CrsPet opened #362 "This is not an issue with bundle-audit, but the Ruby enviroment itself:"
This is not an issue with bundle-audit, but the Ruby enviroment itself:
https://github.com/rubygems/rubygems/issues/3551

Quickfix is to run `gem update --system` first:

[code]

_Originally posted by @asaaki in https://github.com/rubysec/bundler-audit/issues/260#issuecomment-746116287_

[2022-11-01 11:06] #362 closed